In [180]:
# import pdfplumber
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords 
from string import punctuation
from nltk.corpus import wordnet as wn
from nltk.stem import WordNetLemmatizer
from nltk.probability import FreqDist
from heapq import nlargest
from collections import defaultdict
import pandas as pd 
from nltk.collocations import *
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')

In [181]:
# Import CV
f=open('textfile.txt','r', errors = 'ignore')
text=f.read()

In [182]:
def nlp(x):
    word_sent = word_tokenize(x.lower().replace("\n",""))
    _stopwords = set(stopwords.words('english') + list(punctuation)+list("●")+list('–')+list('’'))
    word_sent=[word for word in word_sent if word not in _stopwords]
    lemmatizer = WordNetLemmatizer()
    NLP_Processed_CV = [lemmatizer.lemmatize(word) for word in word_tokenize(" ".join(word_sent))]
#     return " ".join(NLP_Processed_CV)
    return NLP_Processed_CV

In [183]:
def get_key_word(x):
    finder = BigramCollocationFinder.from_words(x)
    lst = []
    Key_word_from_CV = []
    for i in sorted(finder.ngram_fd.items()):
    # if a double word appears more than once, then print it out.
        if i[1] > 1:
            print(i)
            lst.append(i[0])
        else:
            pass

    # print("************************")
    for j in lst:
    #     print(" ".join(j))
        Key_word_from_CV.append(" ".join(j))
    return Key_word_from_CV

In [184]:
NLP_Processed_CV = nlp(text)
# NLP_Processed_CV=' '.join(NLP_Processed_CV)
NLP_Processed_CV

['rakshit',
 'khajuriamachine',
 'learning',
 'engineertalab',
 'tillo',
 'gole',
 'gujral',
 '180002',
 'jammu',
 'india',
 'rakshitraina1234',
 'gmail.com',
 '914955615514',
 'aug',
 '2001',
 'http',
 '//www.linkedin.com/in/rakshit-khajuria-3627781b8/',
 'http',
 '//github.com/ryzxxl9149556155summaryskilled',
 'developing',
 'implementing',
 'data-driven',
 'solution',
 'real-world',
 'problem',
 'utilizing',
 'range',
 'tool',
 'andtechniques',
 'extract',
 'valuable',
 'insight',
 'large',
 'complex',
 'data',
 'set',
 'posse',
 'diverse',
 'experience',
 'cleaningand',
 'analyzing',
 'data',
 'enhancing',
 'existing',
 'model',
 'continuously',
 'seeking',
 'enhance',
 'skill',
 'broaden',
 'myknowledge',
 'dynamic',
 '\x00eld',
 'data',
 'science.skillstools',
 'python',
 'git',
 'github',
 'jupyter',
 'notebook',
 'anaconda',
 'v',
 'codepackages',
 'scikit-learn',
 'numpy',
 'panda',
 'matplotlib',
 'nltk',
 'tensorflow',
 'flask',
 'streamlit',
 'spacy',
 'text',
 'blob',
 'vader.machine',
 'learning',
 'supervised',
 'learning',
 'unsupervised',
 'learning',
 'clustering',
 'algorithm',
 'decision',
 'tree',
 'randomforests',
 'neural',
 'networks.nlp',
 'sentiment',
 'analysis',
 'text',
 'classi\x00cation',
 'named',
 'entity',
 'recognition',
 'word',
 'embedding',
 'topic',
 'modeling',
 'deeplearning',
 'nlp',
 'model',
 'e.g',
 '.',
 'transformer',
 'bert',
 'lstms',
 'soft',
 'skillstime',
 'management',
 'problem-solving',
 'leadership',
 'teamwork',
 'presentation',
 'skill',
 'con\x00denceprofessional',
 'experienceresearch',
 'intern',
 'jul',
 '2022',
 'presentjammu',
 'indiadeveloped',
 'implemented',
 'sentiment',
 'analysis',
 'model',
 'extract',
 'classifyemotional',
 'context',
 'scraped',
 'reddit',
 'data',
 'suicidal',
 'discussions.utilized',
 'advanced',
 'technique',
 'including',
 'unsupervised',
 'pre-trained',
 'model',
 'e.g',
 'vader',
 'textblob',
 'clustering',
 'algorithm',
 'e.g',
 'kmeans',
 'dbscan',
 'accurately',
 'analyze',
 'andinterpret',
 'sentiment.enhanced',
 'model',
 'performance',
 'use',
 'deep',
 'learning',
 'technique',
 'aslstm',
 'bilstm',
 'etc',
 '\x00ne-tuning',
 'pre-trained',
 'word',
 'embeddings',
 'e.g',
 'glove',
 '.improved',
 'model',
 'accuracy',
 'applying',
 'different',
 'bert',
 'models.machine',
 'learning',
 'tarinee',
 'nov',
 '2020',
 'aug',
 '2021became',
 'pro\x00cient',
 'wide',
 'range',
 'machine',
 'learning',
 'algorithm',
 'including',
 'bangalore',
 'indiaunderlying',
 'mathematical',
 'principles.hands-on',
 'experience',
 'end-to-end',
 'machine',
 'learning',
 'project',
 'development',
 'dataacquisition',
 'model',
 'deployment.demonstrated',
 'expertise',
 'using',
 'cloud',
 'platform',
 'heroku',
 'streamlit',
 'aws',
 'ef\x00ciently',
 'deploy',
 'machine',
 'learning',
 'model',
 'solutions.rakshitraina1234',
 'gmail.com',
 '1',
 '2rakshit',
 'khajuriamachine',
 'learning',
 'engineertalab',
 'tillo',
 'gole',
 'gujral',
 '180002',
 'jammu',
 'india',
 'rakshitraina1234',
 'gmail.com',
 '914955615514',
 'aug',
 '2001',
 'http',
 '//www.linkedin.com/in/rakshit-khajuria-3627781b8/',
 'http',
 '//github.com/ryzxxl9149556155summaryskilled',
 'developing',
 'implementing',
 'data-driven',
 'solution',
 'real-world',
 'problem',
 'utilizing',
 'range',
 'tool',
 'andtechniques',
 'extract',
 'valuable',
 'insight',
 'large',
 'complex',
 'data',
 'set',
 'posse',
 'diverse',
 'experience',
 'cleaningand',
 'analyzing',
 'data',
 'enhancing',
 'existing',
 'model',
 'continuously',
 'seeking',
 'enhance',
 'skill',
 'broaden',
 'myknowledge',
 'dynamic',
 '\x00eld',
 'data',
 'science.skillstools',
 'python',
 'git',
 'github',
 'jupyter',
 'notebook',
 'anaconda',
 'v',
 'codepackages',
 'scikit-learn',
 'numpy',
 'panda',
 'matplotlib',
 'nltk',
 'tensorflow',
 'flask',
 'streamlit',
 'spacy',
 'text',
 'blob',
 'vader.machine',
 'learning',
 'supervised',
 'learning',
 'unsupervised',
 'learning',
 'clustering',
 'algorithm',
 'decision',
 'tree',
 'randomforests',
 'neural',
 'networks.nlp',
 'sentiment',
 'analysis',
 'text',
 'classi\x00cation',
 'named',
 'entity',
 'recognition',
 'word',
 'embedding',
 'topic',
 'modeling',
 'deeplearning',
 'nlp',
 'model',
 'e.g',
 '.',
 'transformer',
 'bert',
 'lstms',
 'soft',
 'skillstime',
 'management',
 'problem-solving',
 'leadership',
 'teamwork',
 'presentation',
 'skill',
 'con\x00denceprofessional',
 'experienceresearch',
 'intern',
 'jul',
 '2022',
 'presentjammu',
 'indiadeveloped',
 'implemented',
 'sentiment',
 'analysis',
 'model',
 'extract',
 'classifyemotional',
 'context',
 'scraped',
 'reddit',
 'data',
 'suicidal',
 'discussions.utilized',
 'advanced',
 'technique',
 'including',
 'unsupervised',
 'pre-trained',
 'model',
 'e.g',
 'vader',
 'textblob',
 'clustering',
 'algorithm',
 'e.g',
 'kmeans',
 'dbscan',
 'accurately',
 'analyze',
 'andinterpret',
 'sentiment.enhanced',
 'model',
 'performance',
 'use',
 'deep',
 'learning',
 'technique',
 'aslstm',
 'bilstm',
 'etc',
 '\x00ne-tuning',
 'pre-trained',
 'word',
 'embeddings',
 'e.g',
 'glove',
 '.improved',
 'model',
 'accuracy',
 'applying',
 'different',
 'bert',
 'models.machine',
 'learning',
 'tarinee',
 'nov',
 '2020',
 'aug',
 '2021became',
 'pro\x00cient',
 'wide',
 'range',
 'machine',
 'learning',
 'algorithm',
 'including',
 'bangalore',
 'indiaunderlying',
 'mathematical',
 'principles.hands-on',
 'experience',
 'end-to-end',
 'machine',
 'learning',
 'project',
 'development',
 'dataacquisition',
 'model',
 'deployment.demonstrated',
 'expertise',
 'using',
 'cloud',
 'platform',
 'heroku',
 'streamlit',
 'aws',
 'ef\x00ciently',
 'deploy',
 'machine',
 'learning',
 'model',
 'solutions.rakshitraina1234',
 'gmail.com',
 '1',
 '2projectsmulti',
 'purpose',
 'nlp',
 'application',
 'nlpify',
 'nov',
 '2022',
 'nov',
 '2022developed',
 'sophisticated',
 'ai',
 'platform',
 'extract',
 'various',
 'nlp',
 'feature',
 'includingsentiment',
 'analysis',
 'named',
 'entity',
 'recognition',
 'text',
 'summarization',
 'appreview',
 'data.performed',
 'extensive',
 'data',
 'preprocessing',
 'using',
 'technique',
 'tokenization',
 'lemmatization',
 'vectorization',
 'transform',
 'raw',
 'data',
 'machine-readableformat.createda',
 'multi-class',
 'classi\x00cation',
 'model',
 'using',
 'logistic',
 'regression',
 'textvectorization',
 'pipeline',
 'predict',
 'sentiment',
 'deployed',
 'platform',
 'user-friendly',
 'web',
 'app',
 'using',
 'streamlit',
 'framework.political',
 'spectrum',
 'detection',
 'medium',
 'news',
 'using',
 'deep-learning',
 'shap',
 'oct',
 '2022',
 'oct',
 '2022pythonbuilta',
 'political',
 'spectrum',
 'detection',
 'deep',
 'learning',
 'sequential',
 'model.performed',
 'nlp',
 'based',
 'tokenization',
 'lemmatization',
 'vectorization',
 'processed',
 'datausing',
 'neattext',
 'machine',
 'understandable',
 'language.simpli\x00ed',
 'code',
 'library',
 'shap',
 'built',
 'theoretic',
 'approach',
 'explain',
 'output',
 'ofsequential',
 'deep',
 'learning',
 'model.diabetes',
 'prediction',
 'using',
 'flask',
 'dec',
 '2021',
 'jan',
 '2022conducted',
 'in-depth',
 'data',
 'analysis',
 'national',
 'institute',
 'diabetes',
 'digestiveand',
 'kidney',
 'disease',
 'datasetbuilt',
 'multiple',
 'machine',
 'learning',
 'model',
 'including',
 'random',
 'forest',
 'logistic',
 'regression',
 'knn',
 'svm',
 'prediction',
 'various',
 'onset',
 'type',
 '2',
 'diabetescreated',
 'full-stack',
 'application',
 'using',
 'flask',
 'deployed',
 'heroku',
 'publicaccess',
 'http',
 '//diabetes-prediction-app02.herokuapp.com/certificatesibm',
 'data',
 'science',
 'specialization',
 'machine',
 'learning',
 'deep',
 'learning',
 'traineeineuron.aimathematics',
 'machine',
 'learningdata',
 'sciencestatistics',
 'foundation',
 'linkedinmachine',
 'learning',
 'pythoneducationelectronics',
 'communication',
 'engineering',
 'smvd',
 'university',
 'reasi',
 'j',
 'k',
 'jul',
 '2019',
 'jul',
 '2023jammu',
 'indiaorganisationsa.i',
 'circleactivelyparticipated',
 'a.i',
 'circle',
 'collaborating',
 'team',
 'member',
 'machine',
 'learning',
 'project',
 'mentoringjunior',
 'member',
 'machine',
 'learning',
 'potential',
 'applicationsinterestscoding',
 'football',
 'sketching',
 'machine',
 'learning',
 'deep',
 'learning',
 'mathematicsrakshitraina1234',
 'gmail.com',
 '2',
 '2']

In [185]:
key_word = get_key_word(NLP_Processed_CV)
key_word

(('\x00eld', 'data'), 2)
(('\x00ne-tuning', 'pre-trained'), 2)
(('.', 'transformer'), 2)
(('.improved', 'model'), 2)
(('//github.com/ryzxxl9149556155summaryskilled', 'developing'), 2)
(('//www.linkedin.com/in/rakshit-khajuria-3627781b8/', 'http'), 2)
(('180002', 'jammu'), 2)
(('2001', 'http'), 2)
(('2020', 'aug'), 2)
(('2021became', 'pro\x00cient'), 2)
(('2022', 'presentjammu'), 2)
(('914955615514', 'aug'), 2)
(('accuracy', 'applying'), 2)
(('accurately', 'analyze'), 2)
(('advanced', 'technique'), 2)
(('algorithm', 'decision'), 2)
(('algorithm', 'e.g'), 2)
(('algorithm', 'including'), 2)
(('anaconda', 'v'), 2)
(('analysis', 'model'), 2)
(('analysis', 'text'), 2)
(('analyze', 'andinterpret'), 2)
(('analyzing', 'data'), 2)
(('andinterpret', 'sentiment.enhanced'), 2)
(('andtechniques', 'extract'), 2)
(('applying', 'different'), 2)
(('aslstm', 'bilstm'), 2)
(('aug', '2001'), 2)
(('aug', '2021became'), 2)
(('aws', 'ef\x00ciently'), 2)
(('bangalore', 'indiaunderlying'), 2)
(('bert', 'lstms'), 2)
(('bert', 'models.machine'), 2)
(('bilstm', 'etc'), 2)
(('blob', 'vader.machine'), 2)
(('broaden', 'myknowledge'), 2)
(('classi\x00cation', 'named'), 2)
(('classifyemotional', 'context'), 2)
(('cleaningand', 'analyzing'), 2)
(('cloud', 'platform'), 2)
(('clustering', 'algorithm'), 4)
(('codepackages', 'scikit-learn'), 2)
(('complex', 'data'), 2)
(('con\x00denceprofessional', 'experienceresearch'), 2)
(('context', 'scraped'), 2)
(('continuously', 'seeking'), 2)
(('data', 'enhancing'), 2)
(('data', 'science.skillstools'), 2)
(('data', 'set'), 2)
(('data', 'suicidal'), 2)
(('data-driven', 'solution'), 2)
(('dataacquisition', 'model'), 2)
(('dbscan', 'accurately'), 2)
(('decision', 'tree'), 2)
(('deep', 'learning'), 6)
(('deeplearning', 'nlp'), 2)
(('deploy', 'machine'), 2)
(('deployment.demonstrated', 'expertise'), 2)
(('developing', 'implementing'), 2)
(('development', 'dataacquisition'), 2)
(('different', 'bert'), 2)
(('discussions.utilized', 'advanced'), 2)
(('diverse', 'experience'), 2)
(('dynamic', '\x00eld'), 2)
(('e.g', '.'), 2)
(('e.g', 'glove'), 2)
(('e.g', 'kmeans'), 2)
(('e.g', 'vader'), 2)
(('ef\x00ciently', 'deploy'), 2)
(('embedding', 'topic'), 2)
(('embeddings', 'e.g'), 2)
(('end-to-end', 'machine'), 2)
(('engineertalab', 'tillo'), 2)
(('enhance', 'skill'), 2)
(('enhancing', 'existing'), 2)
(('entity', 'recognition'), 3)
(('etc', '\x00ne-tuning'), 2)
(('existing', 'model'), 2)
(('experience', 'cleaningand'), 2)
(('experience', 'end-to-end'), 2)
(('experienceresearch', 'intern'), 2)
(('expertise', 'using'), 2)
(('extract', 'classifyemotional'), 2)
(('extract', 'valuable'), 2)
(('flask', 'streamlit'), 2)
(('git', 'github'), 2)
(('github', 'jupyter'), 2)
(('glove', '.improved'), 2)
(('gmail.com', '1'), 2)
(('gmail.com', '914955615514'), 2)
(('gole', 'gujral'), 2)
(('gujral', '180002'), 2)
(('heroku', 'streamlit'), 2)
(('http', '//github.com/ryzxxl9149556155summaryskilled'), 2)
(('http', '//www.linkedin.com/in/rakshit-khajuria-3627781b8/'), 2)
(('implemented', 'sentiment'), 2)
(('implementing', 'data-driven'), 2)
(('including', 'bangalore'), 2)
(('including', 'unsupervised'), 2)
(('india', 'rakshitraina1234'), 2)
(('indiadeveloped', 'implemented'), 2)
(('indiaunderlying', 'mathematical'), 2)
(('insight', 'large'), 2)
(('intern', 'jul'), 2)
(('jammu', 'india'), 2)
(('jul', '2022'), 2)
(('jupyter', 'notebook'), 2)
(('khajuriamachine', 'learning'), 2)
(('kmeans', 'dbscan'), 2)
(('large', 'complex'), 2)
(('leadership', 'teamwork'), 2)
(('learning', 'algorithm'), 2)
(('learning', 'clustering'), 2)
(('learning', 'deep'), 2)
(('learning', 'engineertalab'), 2)
(('learning', 'model'), 3)
(('learning', 'project'), 3)
(('learning', 'supervised'), 2)
(('learning', 'tarinee'), 2)
(('learning', 'technique'), 2)
(('learning', 'unsupervised'), 2)
(('lemmatization', 'vectorization'), 2)
(('logistic', 'regression'), 2)
(('lstms', 'soft'), 2)
(('machine', 'learning'), 11)
(('management', 'problem-solving'), 2)
(('mathematical', 'principles.hands-on'), 2)
(('matplotlib', 'nltk'), 2)
(('member', 'machine'), 2)
(('model', 'accuracy'), 2)
(('model', 'continuously'), 2)
(('model', 'deployment.demonstrated'), 2)
(('model', 'e.g'), 4)
(('model', 'extract'), 2)
(('model', 'performance'), 2)
(('model', 'solutions.rakshitraina1234'), 2)
(('modeling', 'deeplearning'), 2)
(('models.machine', 'learning'), 2)
(('myknowledge', 'dynamic'), 2)
(('named', 'entity'), 3)
(('networks.nlp', 'sentiment'), 2)
(('neural', 'networks.nlp'), 2)
(('nlp', 'model'), 2)
(('nltk', 'tensorflow'), 2)
(('notebook', 'anaconda'), 2)
(('nov', '2020'), 2)
(('numpy', 'panda'), 2)
(('panda', 'matplotlib'), 2)
(('performance', 'use'), 2)
(('platform', 'heroku'), 2)
(('posse', 'diverse'), 2)
(('pre-trained', 'model'), 2)
(('pre-trained', 'word'), 2)
(('presentation', 'skill'), 2)
(('presentjammu', 'indiadeveloped'), 2)
(('principles.hands-on', 'experience'), 2)
(('pro\x00cient', 'wide'), 2)
(('problem', 'utilizing'), 2)
(('problem-solving', 'leadership'), 2)
(('project', 'development'), 2)
(('python', 'git'), 2)
(('rakshitraina1234', 'gmail.com'), 2)
(('randomforests', 'neural'), 2)
(('range', 'machine'), 2)
(('range', 'tool'), 2)
(('real-world', 'problem'), 2)
(('recognition', 'word'), 2)
(('reddit', 'data'), 2)
(('science.skillstools', 'python'), 2)
(('scikit-learn', 'numpy'), 2)
(('scraped', 'reddit'), 2)
(('seeking', 'enhance'), 2)
(('sentiment', 'analysis'), 4)
(('sentiment.enhanced', 'model'), 2)
(('set', 'posse'), 2)
(('skill', 'broaden'), 2)
(('skill', 'con\x00denceprofessional'), 2)
(('skillstime', 'management'), 2)
(('soft', 'skillstime'), 2)
(('solution', 'real-world'), 2)
(('solutions.rakshitraina1234', 'gmail.com'), 2)
(('spacy', 'text'), 2)
(('spectrum', 'detection'), 2)
(('streamlit', 'aws'), 2)
(('streamlit', 'spacy'), 2)
(('suicidal', 'discussions.utilized'), 2)
(('supervised', 'learning'), 2)
(('tarinee', 'nov'), 2)
(('teamwork', 'presentation'), 2)
(('technique', 'aslstm'), 2)
(('technique', 'including'), 2)
(('tensorflow', 'flask'), 2)
(('text', 'blob'), 2)
(('text', 'classi\x00cation'), 2)
(('textblob', 'clustering'), 2)
(('tillo', 'gole'), 2)
(('tokenization', 'lemmatization'), 2)
(('tool', 'andtechniques'), 2)
(('topic', 'modeling'), 2)
(('transformer', 'bert'), 2)
(('tree', 'randomforests'), 2)
(('unsupervised', 'learning'), 2)
(('unsupervised', 'pre-trained'), 2)
(('use', 'deep'), 2)
(('using', 'cloud'), 2)
(('using', 'flask'), 2)
(('utilizing', 'range'), 2)
(('v', 'codepackages'), 2)
(('vader', 'textblob'), 2)
(('vader.machine', 'learning'), 2)
(('valuable', 'insight'), 2)
(('wide', 'range'), 2)
(('word', 'embedding'), 2)
(('word', 'embeddings'), 2)

['\x00eld data',
 '\x00ne-tuning pre-trained',
 '. transformer',
 '.improved model',
 '//github.com/ryzxxl9149556155summaryskilled developing',
 '//www.linkedin.com/in/rakshit-khajuria-3627781b8/ http',
 '180002 jammu',
 '2001 http',
 '2020 aug',
 '2021became pro\x00cient',
 '2022 presentjammu',
 '914955615514 aug',
 'accuracy applying',
 'accurately analyze',
 'advanced technique',
 'algorithm decision',
 'algorithm e.g',
 'algorithm including',
 'anaconda v',
 'analysis model',
 'analysis text',
 'analyze andinterpret',
 'analyzing data',
 'andinterpret sentiment.enhanced',
 'andtechniques extract',
 'applying different',
 'aslstm bilstm',
 'aug 2001',
 'aug 2021became',
 'aws ef\x00ciently',
 'bangalore indiaunderlying',
 'bert lstms',
 'bert models.machine',
 'bilstm etc',
 'blob vader.machine',
 'broaden myknowledge',
 'classi\x00cation named',
 'classifyemotional context',
 'cleaningand analyzing',
 'cloud platform',
 'clustering algorithm',
 'codepackages scikit-learn',
 'complex data',
 'con\x00denceprofessional experienceresearch',
 'context scraped',
 'continuously seeking',
 'data enhancing',
 'data science.skillstools',
 'data set',
 'data suicidal',
 'data-driven solution',
 'dataacquisition model',
 'dbscan accurately',
 'decision tree',
 'deep learning',
 'deeplearning nlp',
 'deploy machine',
 'deployment.demonstrated expertise',
 'developing implementing',
 'development dataacquisition',
 'different bert',
 'discussions.utilized advanced',
 'diverse experience',
 'dynamic \x00eld',
 'e.g .',
 'e.g glove',
 'e.g kmeans',
 'e.g vader',
 'ef\x00ciently deploy',
 'embedding topic',
 'embeddings e.g',
 'end-to-end machine',
 'engineertalab tillo',
 'enhance skill',
 'enhancing existing',
 'entity recognition',
 'etc \x00ne-tuning',
 'existing model',
 'experience cleaningand',
 'experience end-to-end',
 'experienceresearch intern',
 'expertise using',
 'extract classifyemotional',
 'extract valuable',
 'flask streamlit',
 'git github',
 'github jupyter',
 'glove .improved',
 'gmail.com 1',
 'gmail.com 914955615514',
 'gole gujral',
 'gujral 180002',
 'heroku streamlit',
 'http //github.com/ryzxxl9149556155summaryskilled',
 'http //www.linkedin.com/in/rakshit-khajuria-3627781b8/',
 'implemented sentiment',
 'implementing data-driven',
 'including bangalore',
 'including unsupervised',
 'india rakshitraina1234',
 'indiadeveloped implemented',
 'indiaunderlying mathematical',
 'insight large',
 'intern jul',
 'jammu india',
 'jul 2022',
 'jupyter notebook',
 'khajuriamachine learning',
 'kmeans dbscan',
 'large complex',
 'leadership teamwork',
 'learning algorithm',
 'learning clustering',
 'learning deep',
 'learning engineertalab',
 'learning model',
 'learning project',
 'learning supervised',
 'learning tarinee',
 'learning technique',
 'learning unsupervised',
 'lemmatization vectorization',
 'logistic regression',
 'lstms soft',
 'machine learning',
 'management problem-solving',
 'mathematical principles.hands-on',
 'matplotlib nltk',
 'member machine',
 'model accuracy',
 'model continuously',
 'model deployment.demonstrated',
 'model e.g',
 'model extract',
 'model performance',
 'model solutions.rakshitraina1234',
 'modeling deeplearning',
 'models.machine learning',
 'myknowledge dynamic',
 'named entity',
 'networks.nlp sentiment',
 'neural networks.nlp',
 'nlp model',
 'nltk tensorflow',
 'notebook anaconda',
 'nov 2020',
 'numpy panda',
 'panda matplotlib',
 'performance use',
 'platform heroku',
 'posse diverse',
 'pre-trained model',
 'pre-trained word',
 'presentation skill',
 'presentjammu indiadeveloped',
 'principles.hands-on experience',
 'pro\x00cient wide',
 'problem utilizing',
 'problem-solving leadership',
 'project development',
 'python git',
 'rakshitraina1234 gmail.com',
 'randomforests neural',
 'range machine',
 'range tool',
 'real-world problem',
 'recognition word',
 'reddit data',
 'science.skillstools python',
 'scikit-learn numpy',
 'scraped reddit',
 'seeking enhance',
 'sentiment analysis',
 'sentiment.enhanced model',
 'set posse',
 'skill broaden',
 'skill con\x00denceprofessional',
 'skillstime management',
 'soft skillstime',
 'solution real-world',
 'solutions.rakshitraina1234 gmail.com',
 'spacy text',
 'spectrum detection',
 'streamlit aws',
 'streamlit spacy',
 'suicidal discussions.utilized',
 'supervised learning',
 'tarinee nov',
 'teamwork presentation',
 'technique aslstm',
 'technique including',
 'tensorflow flask',
 'text blob',
 'text classi\x00cation',
 'textblob clustering',
 'tillo gole',
 'tokenization lemmatization',
 'tool andtechniques',
 'topic modeling',
 'transformer bert',
 'tree randomforests',
 'unsupervised learning',
 'unsupervised pre-trained',
 'use deep',
 'using cloud',
 'using flask',
 'utilizing range',
 'v codepackages',
 'vader textblob',
 'vader.machine learning',
 'valuable insight',
 'wide range',
 'word embedding',
 'word embeddings']

# Importing scapped df

In [186]:
DF_PATH = "data.csv"

In [187]:
df = pd.read_csv(DF_PATH)
df

,id,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url
0,2567a216d4af7021,AT&T,"SPECIALIST, DATA ANALYTICS",\n \n Experienced data analyst position that ...,NaN,"Hyderabad, Telangana",3.7,43942.0,Today,https://in.indeed.com/applystart?jk=2567a216d4...,https://www.indeed.co.in/rc/clk?jk=2567a216d4a...
1,442ad7cc38a6f7b8,ICICI Prudential Life,Data scientist,Roles and responsibilities:\n 1. Data processi...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=442ad7cc38...,https://www.indeed.co.in/rc/clk?jk=442ad7cc38a...
2,e0fe53f38f84e7bd,ICICI Prudential Life,Data scientist - Lead,Roles and responsibilities:\n 1. Data processi...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=e0fe53f38f...,https://www.indeed.co.in/rc/clk?jk=e0fe53f38f8...
3,363b96425a82d12d,TMI Group IN,Bot NLP Analyst,\n Job Information \n \n \n \n \n Salary...,"₹10,00,000 - ₹16,00,000 a year","Hyderabad, Telangana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=363b96425a...,https://www.indeed.co.in/rc/clk?jk=363b96425a8...
4,215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD.,Senior Data Scientist,"Sr. Data Analyst,\nShairu Gems Diamonds PVT. L...","₹25,000 - ₹35,000 a month","Surat, Gujarat",NaN,NaN,Today,NaN,https://www.indeed.co.in/company/Shairu-Gems-D...
...,...,...,...,...,...,...,...,...,...,...,...
5497,f53ad1277acdc74c,VISION ESTEEM,Executive HR Admin,Urgently looking Executive HR and Admin for le...,"₹20,000 - ₹25,000 a month","Chandigarh, Chandigarh",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/vision-esteem...
5498,2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,JOB OVERVIEW: The HR Assistant duties involve ...,"₹15,000 - ₹20,000 a month","Ahmedabad, Gujarat",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/L.R.-Patel-&-...
5499,745a1ac63a001f46,Proactive Consultants & Services,HR Recruiter,"Dear candidates,\nWe have an urgent Opening fo...","₹20,000 - ₹25,000 a month","New Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/Proactive-Con...
5500,d7901b874316b5d7,American Academy of Financial Management India,Recruitment Executive,Roles & Responsibilities :\nDesign and update ...,"₹20,000 - ₹25,000 a month","Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/American-Acad...
5501,837f8b5ef252bcd0,SV Placement Solutions,HR Recruiter (females only),\n Partnering with hiring managers to determin...,"₹8,000 - ₹12,000 a month","Patiala, Punjab",5.0,2.0,2 days ago,NaN,https://www.indeed.co.in/company/SV-Placement-...

In [232]:
df["JobID"]=df.index

In [233]:
df

,id,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,All,JobID
0,2567a216d4af7021,AT&T,"SPECIALIST, DATA ANALYTICS",Experienced data analyst position that uses te...,NaN,"Hyderabad, Telangana",3.7,43942.0,Today,https://in.indeed.com/applystart?jk=2567a216d4...,https://www.indeed.co.in/rc/clk?jk=2567a216d4a...,"2567a216d4af7021,AT&T,SPECIALIST, DATA ANALYTI...",0
1,442ad7cc38a6f7b8,ICICI Prudential Life,Data scientist,Roles and responsibilities: 1. Data processing...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=442ad7cc38...,https://www.indeed.co.in/rc/clk?jk=442ad7cc38a...,"442ad7cc38a6f7b8,ICICI Prudential Life,Data sc...",1
2,e0fe53f38f84e7bd,ICICI Prudential Life,Data scientist - Lead,Roles and responsibilities: 1. Data processing...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=e0fe53f38f...,https://www.indeed.co.in/rc/clk?jk=e0fe53f38f8...,"e0fe53f38f84e7bd,ICICI Prudential Life,Data sc...",2
3,363b96425a82d12d,TMI Group IN,Bot NLP Analyst,Job Information Salary ₹ 100000...,"₹10,00,000 - ₹16,00,000 a year","Hyderabad, Telangana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=363b96425a...,https://www.indeed.co.in/rc/clk?jk=363b96425a8...,"363b96425a82d12d,TMI Group IN,Bot NLP Analyst,...",3
4,215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD.,Senior Data Scientist,"Sr. Data Analyst,Shairu Gems Diamonds PVT. LTD...","₹25,000 - ₹35,000 a month","Surat, Gujarat",NaN,NaN,Today,NaN,https://www.indeed.co.in/company/Shairu-Gems-D...,"215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD....",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5497,f53ad1277acdc74c,VISION ESTEEM,Executive HR Admin,Urgently looking Executive HR and Admin for le...,"₹20,000 - ₹25,000 a month","Chandigarh, Chandigarh",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/vision-esteem...,"f53ad1277acdc74c,VISION ESTEEM,Executive HR Ad...",5497
5498,2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,JOB OVERVIEW: The HR Assistant duties involve ...,"₹15,000 - ₹20,000 a month","Ahmedabad, Gujarat",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/L.R.-Patel-&-...,"2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,...",5498
5499,745a1ac63a001f46,Proactive Consultants & Services,HR Recruiter,"Dear candidates,We have an urgent Opening for ...","₹20,000 - ₹25,000 a month","New Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/Proactive-Con...,"745a1ac63a001f46,Proactive Consultants & Servi...",5499
5500,d7901b874316b5d7,American Academy of Financial Management India,Recruitment Executive,Roles & Responsibilities :Design and update jo...,"₹20,000 - ₹25,000 a month","Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/American-Acad...,"d7901b874316b5d7,American Academy of Financial...",5500
5501,837f8b5ef252bcd0,SV Placement Solutions,HR Recruiter (females only),Partnering with hiring managers to determine s...,"₹8,000 - ₹12,000 a month","Patiala, Punjab",5.0,2.0,2 days ago,NaN,https://www.indeed.co.in/company/SV-Placement-...,"837f8b5ef252bcd0,SV Placement Solutions,HR Rec...",5501

In [234]:
df.shape

(5502, 13)

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5502 entries, 0 to 5501
Data columns (total 13 columns):
id                   5502 non-null object
company              5408 non-null object
positionName         5502 non-null object
description          5502 non-null object
salary               1248 non-null object
location             5502 non-null object
rating               3128 non-null float64
reviewsCount         3128 non-null float64
postedAt             5502 non-null object
externalApplyLink    4044 non-null object
url                  5502 non-null object
All                  5502 non-null object
JobID                5502 non-null int64
dtypes: float64(2), int64(1), object(10)
memory usage: 558.9+ KB

In [236]:
df['All'] = df[df.columns[0:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)

In [237]:
df

,id,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,All,JobID
0,2567a216d4af7021,AT&T,"SPECIALIST, DATA ANALYTICS",Experienced data analyst position that uses te...,NaN,"Hyderabad, Telangana",3.7,43942.0,Today,https://in.indeed.com/applystart?jk=2567a216d4...,https://www.indeed.co.in/rc/clk?jk=2567a216d4a...,"2567a216d4af7021,AT&T,SPECIALIST, DATA ANALYTI...",0
1,442ad7cc38a6f7b8,ICICI Prudential Life,Data scientist,Roles and responsibilities: 1. Data processing...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=442ad7cc38...,https://www.indeed.co.in/rc/clk?jk=442ad7cc38a...,"442ad7cc38a6f7b8,ICICI Prudential Life,Data sc...",1
2,e0fe53f38f84e7bd,ICICI Prudential Life,Data scientist - Lead,Roles and responsibilities: 1. Data processing...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=e0fe53f38f...,https://www.indeed.co.in/rc/clk?jk=e0fe53f38f8...,"e0fe53f38f84e7bd,ICICI Prudential Life,Data sc...",2
3,363b96425a82d12d,TMI Group IN,Bot NLP Analyst,Job Information Salary ₹ 100000...,"₹10,00,000 - ₹16,00,000 a year","Hyderabad, Telangana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=363b96425a...,https://www.indeed.co.in/rc/clk?jk=363b96425a8...,"363b96425a82d12d,TMI Group IN,Bot NLP Analyst,...",3
4,215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD.,Senior Data Scientist,"Sr. Data Analyst,Shairu Gems Diamonds PVT. LTD...","₹25,000 - ₹35,000 a month","Surat, Gujarat",NaN,NaN,Today,NaN,https://www.indeed.co.in/company/Shairu-Gems-D...,"215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD....",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5497,f53ad1277acdc74c,VISION ESTEEM,Executive HR Admin,Urgently looking Executive HR and Admin for le...,"₹20,000 - ₹25,000 a month","Chandigarh, Chandigarh",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/vision-esteem...,"f53ad1277acdc74c,VISION ESTEEM,Executive HR Ad...",5497
5498,2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,JOB OVERVIEW: The HR Assistant duties involve ...,"₹15,000 - ₹20,000 a month","Ahmedabad, Gujarat",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/L.R.-Patel-&-...,"2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,...",5498
5499,745a1ac63a001f46,Proactive Consultants & Services,HR Recruiter,"Dear candidates,We have an urgent Opening for ...","₹20,000 - ₹25,000 a month","New Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/Proactive-Con...,"745a1ac63a001f46,Proactive Consultants & Servi...",5499
5500,d7901b874316b5d7,American Academy of Financial Management India,Recruitment Executive,Roles & Responsibilities :Design and update jo...,"₹20,000 - ₹25,000 a month","Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/American-Acad...,"d7901b874316b5d7,American Academy of Financial...",5500
5501,837f8b5ef252bcd0,SV Placement Solutions,HR Recruiter (females only),Partnering with hiring managers to determine s...,"₹8,000 - ₹12,000 a month","Patiala, Punjab",5.0,2.0,2 days ago,NaN,https://www.indeed.co.in/company/SV-Placement-...,"837f8b5ef252bcd0,SV Placement Solutions,HR Rec...",5501

In [238]:
df['All']

0       2567a216d4af7021,AT&T,SPECIALIST, DATA ANALYTI...
1       442ad7cc38a6f7b8,ICICI Prudential Life,Data sc...
2       e0fe53f38f84e7bd,ICICI Prudential Life,Data sc...
3       363b96425a82d12d,TMI Group IN,Bot NLP Analyst,...
4       215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD....
                              ...
5497    f53ad1277acdc74c,VISION ESTEEM,Executive HR Ad...
5498    2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,...
5499    745a1ac63a001f46,Proactive Consultants & Servi...
5500    d7901b874316b5d7,American Academy of Financial...
5501    837f8b5ef252bcd0,SV Placement Solutions,HR Rec...
Name: All, Length: 5502, dtype: object

In [239]:
df["description"].replace(r'\n','', regex=True,inplace=True)
df["description"].replace(r'\r','', regex=True,inplace=True)  
df = df.replace(' ', '')
df.description = df.description.str.strip()
df.All = df.All.str.strip()

In [240]:
df

,id,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,All,JobID
0,2567a216d4af7021,AT&T,"SPECIALIST, DATA ANALYTICS",Experienced data analyst position that uses te...,NaN,"Hyderabad, Telangana",3.7,43942.0,Today,https://in.indeed.com/applystart?jk=2567a216d4...,https://www.indeed.co.in/rc/clk?jk=2567a216d4a...,"2567a216d4af7021,AT&T,SPECIALIST, DATA ANALYTI...",0
1,442ad7cc38a6f7b8,ICICI Prudential Life,Data scientist,Roles and responsibilities: 1. Data processing...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=442ad7cc38...,https://www.indeed.co.in/rc/clk?jk=442ad7cc38a...,"442ad7cc38a6f7b8,ICICI Prudential Life,Data sc...",1
2,e0fe53f38f84e7bd,ICICI Prudential Life,Data scientist - Lead,Roles and responsibilities: 1. Data processing...,NaN,"Mumbai, Maharashtra",4.0,1391.0,Just posted,https://in.indeed.com/applystart?jk=e0fe53f38f...,https://www.indeed.co.in/rc/clk?jk=e0fe53f38f8...,"e0fe53f38f84e7bd,ICICI Prudential Life,Data sc...",2
3,363b96425a82d12d,TMI Group IN,Bot NLP Analyst,Job Information Salary ₹ 100000...,"₹10,00,000 - ₹16,00,000 a year","Hyderabad, Telangana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=363b96425a...,https://www.indeed.co.in/rc/clk?jk=363b96425a8...,"363b96425a82d12d,TMI Group IN,Bot NLP Analyst,...",3
4,215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD.,Senior Data Scientist,"Sr. Data Analyst,Shairu Gems Diamonds PVT. LTD...","₹25,000 - ₹35,000 a month","Surat, Gujarat",NaN,NaN,Today,NaN,https://www.indeed.co.in/company/Shairu-Gems-D...,"215ece39050fb3f5,Shairu Gems Diamonds PVT.LTD....",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5497,f53ad1277acdc74c,VISION ESTEEM,Executive HR Admin,Urgently looking Executive HR and Admin for le...,"₹20,000 - ₹25,000 a month","Chandigarh, Chandigarh",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/vision-esteem...,"f53ad1277acdc74c,VISION ESTEEM,Executive HR Ad...",5497
5498,2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,JOB OVERVIEW: The HR Assistant duties involve ...,"₹15,000 - ₹20,000 a month","Ahmedabad, Gujarat",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/L.R.-Patel-&-...,"2b1b759b9c3a9246,L.R. Patel & Co,HR Recruiter,...",5498
5499,745a1ac63a001f46,Proactive Consultants & Services,HR Recruiter,"Dear candidates,We have an urgent Opening for ...","₹20,000 - ₹25,000 a month","New Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/Proactive-Con...,"745a1ac63a001f46,Proactive Consultants & Servi...",5499
5500,d7901b874316b5d7,American Academy of Financial Management India,Recruitment Executive,Roles & Responsibilities :Design and update jo...,"₹20,000 - ₹25,000 a month","Delhi, Delhi",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/American-Acad...,"d7901b874316b5d7,American Academy of Financial...",5500
5501,837f8b5ef252bcd0,SV Placement Solutions,HR Recruiter (females only),Partnering with hiring managers to determine s...,"₹8,000 - ₹12,000 a month","Patiala, Punjab",5.0,2.0,2 days ago,NaN,https://www.indeed.co.in/company/SV-Placement-...,"837f8b5ef252bcd0,SV Placement Solutions,HR Rec...",5501

# Put keywords of the CV into a dataframe

In [241]:
df2 = pd.DataFrame()
# append columns to an empty DataFrame
df2['title'] = ["I"]
df2['job highlights'] = ["I"]
df2['job description'] = ["I"]
df2['company overview'] = ["I"]
df2['industry'] = ["I"]

# Compare with the key words from CV only
df2['All'] = " ".join(key_word)

In [242]:
df2

,title,job highlights,job description,company overview,industry,All
0,I,I,I,I,I, eld data  ne-tuning pre-trained . transformer...

In [243]:
df.columns

Index(['id', 'company', 'positionName', 'description', 'salary', 'location',
       'rating', 'reviewsCount', 'postedAt', 'externalApplyLink', 'url', 'All',
       'JobID'],
      dtype='object')

# Recomendation Function

#klnsdsd

In [244]:
def get_recommendation(top, df_all, scores):
    recommendation = pd.DataFrame(columns = ['positionName', 'company',"location",'JobID','description','score'])
    count = 0
    for i in top:
#         recommendation.at[count, 'ApplicantID'] = u
        
        recommendation.at[count, 'positionName'] = df['positionName'][i]
        recommendation.at[count, 'company'] = df['company'][i]
        recommendation.at[count, 'location'] = df['location'][i]
    
        recommendation.at[count, 'JobID'] = df.index[i]
        recommendation.at[count, 'description'] = df['description'][i]
        recommendation.at[count, 'score'] =  scores[count]
        count += 1
    return recommendation

## cosine_similarity + TfidfVectorizer function

In [245]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer


def TFIDF(scraped_data, cv):
    tfidf_vectorizer = TfidfVectorizer(stop_words='english')

    # TF-IDF Scraped data
    tfidf_jobid = tfidf_vectorizer.fit_transform(scraped_data)

    # TF-IDF CV
    user_tfidf = tfidf_vectorizer.transform(cv)

    # Using cosine_similarity on (Scraped data) & (CV)
    cos_similarity_tfidf = map(lambda x: cosine_similarity(user_tfidf,x),tfidf_jobid)

    output2 = list(cos_similarity_tfidf)
    return output2
    
output2 = TFIDF(df['All'], df2['All'])

In [246]:
len(output2)

5502

In [247]:
output2

[array([[0.09490157]]),
 array([[0.08463058]]),
 array([[0.08307375]]),
 array([[0.05026806]]),
 array([[0.02434449]]),
 array([[0.15048193]]),
 array([[0.14032287]]),
 array([[0.07494617]]),
 array([[0.09940794]]),
 array([[0.15000869]]),
 array([[0.12688779]]),
 array([[0.08432616]]),
 array([[0.10166767]]),
 array([[0.09765062]]),
 array([[0.00857239]]),
 array([[0.05933496]]),
 array([[0.07607672]]),
 array([[0.12224729]]),
 array([[0.06334636]]),
 array([[0.00537008]]),
 array([[0.05739081]]),
 array([[0.0707714]]),
 array([[0.0379942]]),
 array([[0.05863688]]),
 array([[0.05504226]]),
 array([[0.0577897]]),
 array([[0.1246984]]),
 array([[0.09503254]]),
 array([[0.14071974]]),
 array([[0.10674914]]),
 array([[0.02927092]]),
 array([[0.07472828]]),
 array([[0.08503921]]),
 array([[0.14455256]]),
 array([[0.08551474]]),
 array([[0.02367107]]),
 array([[0.07412153]]),
 array([[0.00932761]]),
 array([[0.04218153]]),
 array([[0.10972412]]),
 array([[0.04917929]]),
 array([[0.08881397]]),
 array([[0.09025128]]),
 array([[0.06167148]]),
 array([[0.08694806]]),
 array([[0.12713575]]),
 array([[0.11539277]]),
 array([[0.13214789]]),
 array([[0.01645917]]),
 array([[0.06418445]]),
 array([[0.03764656]]),
 array([[0.05293597]]),
 array([[0.12026246]]),
 array([[0.08298297]]),
 array([[0.18913081]]),
 array([[0.04005745]]),
 array([[0.07689627]]),
 array([[0.10366679]]),
 array([[0.07694769]]),
 array([[0.05759111]]),
 array([[0.06115673]]),
 array([[0.05686736]]),
 array([[0.0843844]]),
 array([[0.13008882]]),
 array([[0.06179123]]),
 array([[0.04592227]]),
 array([[0.13683142]]),
 array([[0.07102329]]),
 array([[0.07845596]]),
 array([[0.11249777]]),
 array([[0.10787358]]),
 array([[0.03496401]]),
 array([[0.02787356]]),
 array([[0.11726307]]),
 array([[0.16888013]]),
 array([[0.04801389]]),
 array([[0.059192]]),
 array([[0.05117466]]),
 array([[0.14256188]]),
 array([[0.08768599]]),
 array([[0.12894707]]),
 array([[0.06543265]]),
 array([[0.06851977]]),
 array([[0.07871575]]),
 array([[0.07465698]]),
 array([[0.02297583]]),
 array([[0.08872718]]),
 array([[0.07173125]]),
 array([[0.08122626]]),
 array([[0.02714756]]),
 array([[0.03510803]]),
 array([[0.21860442]]),
 array([[0.10047089]]),
 array([[0.07983113]]),
 array([[0.10127656]]),
 array([[0.21635825]]),
 array([[0.04819957]]),
 array([[0.1467415]]),
 array([[0.04254064]]),
 array([[0.03175316]]),
 array([[0.06623226]]),
 array([[0.06934822]]),
 array([[0.01593418]]),
 array([[0.03944236]]),
 array([[0.06430327]]),
 array([[0.07510093]]),
 array([[0.03110758]]),
 array([[0.03747926]]),
 array([[0.12532042]]),
 array([[0.09074083]]),
 array([[0.01030311]]),
 array([[0.09126231]]),
 array([[0.09987444]]),
 array([[0.0844702]]),
 array([[0.11788276]]),
 array([[0.12567814]]),
 array([[0.04008016]]),
 array([[0.05590259]]),
 array([[0.14105296]]),
 array([[0.03892467]]),
 array([[0.03872325]]),
 array([[0.06775301]]),
 array([[0.04684728]]),
 array([[0.02773469]]),
 array([[0.10546227]]),
 array([[0.03039062]]),
 array([[0.02290976]]),
 array([[0.0775085]]),
 array([[0.06228363]]),
 array([[0.09296767]]),
 array([[0.03435763]]),
 array([[0.04820417]]),
 array([[0.01861594]]),
 array([[0.04696891]]),
 array([[0.06579809]]),
 array([[0.09923219]]),
 array([[0.07723458]]),
 array([[0.1248197]]),
 array([[0.07531135]]),
 array([[0.01276053]]),
 array([[0.15217453]]),
 array([[0.10851683]]),
 array([[0.10594429]]),
 array([[0.02428694]]),
 array([[0.09940721]]),
 array([[0.01594006]]),
 array([[0.11447215]]),
 array([[0.14674868]]),
 array([[0.1928841]]),
 array([[0.057605]]),
 array([[0.07899236]]),
 array([[0.1255078]]),
 array([[0.08077228]]),
 array([[0.09295935]]),
 array([[0.09923785]]),
 array([[0.09570828]]),
 array([[0.050551]]),
 array([[0.04766203]]),
 array([[0.05150915]]),
 array([[0.0066062]]),
 array([[0.05647048]]),
 array([[0.14786653]]),
 array([[0.07543489]]),
 array([[0.01672896]]),
 array([[0.16815736]]),
 array([[0.07503426]]),
 array([[0.04758885]]),
 array([[0.04000656]]),
 array([[0.08253865]]),
 array([[0.057797]]),
 array([[0.12489754]]),
 array([[0.08251338]]),
 array([[0.08158478]]),
 array([[0.04015822]]),
 array([[0.04708284]]),
 array([[0.05828095]]),
 array([[0.08631123]]),
 array([[0.05509761]]),
 array([[0.02830277]]),
 array([[0.01281739]]),
 array([[0.07046857]]),
 array([[0.08391501]]),
 array([[0.04245861]]),
 array([[0.18361282]]),
 array([[0.05087378]]),
 array([[0.12206628]]),
 array([[0.06139962]]),
 array([[0.05233861]]),
 array([[0.10689194]]),
 array([[0.0611388]]),
 array([[0.10369997]]),
 array([[0.07859128]]),
 array([[0.09681027]]),
 array([[0.12620009]]),
 array([[0.04582112]]),
 array([[0.05704072]]),
 array([[0.10005422]]),
 array([[0.03007402]]),
 array([[0.02779283]]),
 array([[0.1419493]]),
 array([[0.00516619]]),
 array([[0.0665607]]),
 array([[0.10492456]]),
 array([[0.07007314]]),
 array([[0.03802842]]),
 array([[0.11311105]]),
 array([[0.06856089]]),
 array([[0.0653797]]),
 array([[0.01687163]]),
 array([[0.04142765]]),
 array([[0.06591959]]),
 array([[0.07967986]]),
 array([[0.07991997]]),
 array([[0.0542767]]),
 array([[0.07084246]]),
 array([[0.0706198]]),
 array([[0.05521072]]),
 array([[0.0603953]]),
 array([[0.02098056]]),
 array([[0.128088]]),
 array([[0.07380747]]),
 array([[0.15678198]]),
 array([[0.07454786]]),
 array([[0.18736064]]),
 array([[0.03914432]]),
 array([[0.15012793]]),
 array([[0.09717674]]),
 array([[0.0673352]]),
 array([[0.06956159]]),
 array([[0.15399668]]),
 array([[0.03324584]]),
 array([[0.04101646]]),
 array([[0.12131114]]),
 array([[0.07321543]]),
 array([[0.06763168]]),
 array([[0.03981975]]),
 array([[0.16364319]]),
 array([[0.03638874]]),
 array([[0.05312462]]),
 array([[0.0777282]]),
 array([[0.04966264]]),
 array([[0.13937995]]),
 array([[0.09305313]]),
 array([[0.10705183]]),
 array([[0.09951035]]),
 array([[0.04679156]]),
 array([[0.04333705]]),
 array([[0.1506036]]),
 array([[0.06372192]]),
 array([[0.07514021]]),
 array([[0.12073677]]),
 array([[0.11293629]]),
 array([[0.07934784]]),
 array([[0.07834742]]),
 array([[0.0476772]]),
 array([[0.06333308]]),
 array([[0.10573527]]),
 array([[0.05172563]]),
 array([[0.07161083]]),
 array([[0.03615464]]),
 array([[0.10846888]]),
 array([[0.09453337]]),
 array([[0.10791885]]),
 array([[0.03677425]]),
 array([[0.07549771]]),
 array([[0.05779203]]),
 array([[0.04617296]]),
 array([[0.04437858]]),
 array([[0.06457064]]),
 array([[0.04818882]]),
 array([[0.0145122]]),
 array([[0.08980251]]),
 array([[0.04310676]]),
 array([[0.08620661]]),
 array([[0.04639198]]),
 array([[0.15524147]]),
 array([[0.03086793]]),
 array([[0.0401523]]),
 array([[0.06098551]]),
 array([[0.08736816]]),
 array([[0.0178963]]),
 array([[0.11420061]]),
 array([[0.04581344]]),
 array([[0.08432426]]),
 array([[0.14931996]]),
 array([[0.15561131]]),
 array([[0.09611937]]),
 array([[0.06669348]]),
 array([[0.07961802]]),
 array([[0.04774875]]),
 array([[0.12859528]]),
 array([[0.06987298]]),
 array([[0.13448251]]),
 array([[0.04905938]]),
 array([[0.14490322]]),
 array([[0.03076169]]),
 array([[0.14523072]]),
 array([[0.06852534]]),
 array([[0.04803285]]),
 array([[0.04914109]]),
 array([[0.14593135]]),
 array([[0.13425553]]),
 array([[0.07987895]]),
 array([[0.03653608]]),
 array([[0.06224455]]),
 array([[0.14616733]]),
 array([[0.13606329]]),
 array([[0.16047142]]),
 array([[0.07504928]]),
 array([[0.15450944]]),
 array([[0.06966413]]),
 array([[0.07061513]]),
 array([[0.07492686]]),
 array([[0.14973768]]),
 array([[0.11809259]]),
 array([[0.13689174]]),
 array([[0.16343019]]),
 array([[0.06268212]]),
 array([[0.05046824]]),
 array([[0.10280505]]),
 array([[0.06574241]]),
 array([[0.01845663]]),
 array([[0.10089132]]),
 array([[0.05815203]]),
 array([[0.03094493]]),
 array([[0.05359424]]),
 array([[0.0165594]]),
 array([[0.14644424]]),
 array([[0.11781234]]),
 array([[0.0917565]]),
 array([[0.08288974]]),
 array([[0.04111826]]),
 array([[0.05347093]]),
 array([[0.05990486]]),
 array([[0.177203]]),
 array([[0.08619509]]),
 array([[0.0302603]]),
 array([[0.1766561]]),
 array([[0.13487537]]),
 array([[0.12126816]]),
 array([[0.05420153]]),
 array([[0.10788248]]),
 array([[0.06526041]]),
 array([[0.02291919]]),
 array([[0.09163711]]),
 array([[0.01181849]]),
 array([[0.06258166]]),
 array([[0.05430787]]),
 array([[0.11703539]]),
 array([[0.06983359]]),
 array([[0.1613744]]),
 array([[0.04488606]]),
 array([[0.09591751]]),
 array([[0.07183465]]),
 array([[0.05891491]]),
 array([[0.1327522]]),
 array([[0.09008413]]),
 array([[0.06089468]]),
 array([[0.01903006]]),
 array([[0.04542997]]),
 array([[0.06183378]]),
 array([[0.05991454]]),
 array([[0.06255754]]),
 array([[0.11672696]]),
 array([[0.09525033]]),
 array([[0.09194141]]),
 array([[0.13710714]]),
 array([[0.04856845]]),
 array([[0.0831719]]),
 array([[0.06558543]]),
 array([[0.04971592]]),
 array([[0.1263674]]),
 array([[0.0649241]]),
 array([[0.1368659]]),
 array([[0.1069363]]),
 array([[0.06259627]]),
 array([[0.10509835]]),
 array([[0.13125523]]),
 array([[0.10100263]]),
 array([[0.07917528]]),
 array([[0.04701641]]),
 array([[0.04093113]]),
 array([[0.20881996]]),
 array([[0.04878751]]),
 array([[0.06526475]]),
 array([[0.04132797]]),
 array([[0.14657005]]),
 array([[0.12365254]]),
 array([[0.02950103]]),
 array([[0.1488305]]),
 array([[0.14917747]]),
 array([[0.05653463]]),
 array([[0.06298425]]),
 array([[0.01608127]]),
 array([[0.05204483]]),
 array([[0.13237237]]),
 array([[0.07242403]]),
 array([[0.0385182]]),
 array([[0.06621229]]),
 array([[0.11053779]]),
 array([[0.19301328]]),
 array([[0.12057485]]),
 array([[0.06080273]]),
 array([[0.11576009]]),
 array([[0.05452045]]),
 array([[0.00718371]]),
 array([[0.03735274]]),
 array([[0.06467569]]),
 array([[0.08149726]]),
 array([[0.06208827]]),
 array([[0.14913456]]),
 array([[0.10377371]]),
 array([[0.07349542]]),
 array([[0.10694625]]),
 array([[0.02933415]]),
 array([[0.0428129]]),
 array([[0.13307685]]),
 array([[0.01812868]]),
 array([[0.13354289]]),
 array([[0.06290593]]),
 array([[0.09872104]]),
 array([[0.02631915]]),
 array([[0.0236758]]),
 array([[0.04749313]]),
 array([[0.0954509]]),
 array([[0.05610295]]),
 array([[0.0993099]]),
 array([[0.07680678]]),
 array([[0.01078576]]),
 array([[0.02292279]]),
 array([[0.13623501]]),
 array([[0.06600542]]),
 array([[0.07868645]]),
 array([[0.10762135]]),
 array([[0.04202507]]),
 array([[0.10662012]]),
 array([[0.06851352]]),
 array([[0.03886265]]),
 array([[0.09044857]]),
 array([[0.09517554]]),
 array([[0.02425704]]),
 array([[0.0395974]]),
 array([[0.01370801]]),
 array([[0.0073191]]),
 array([[0.1539165]]),
 array([[0.06401538]]),
 array([[0.11971318]]),
 array([[0.05610582]]),
 array([[0.12210349]]),
 array([[0.04637359]]),
 array([[0.14615847]]),
 array([[0.01692296]]),
 array([[0.02374494]]),
 array([[0.07330777]]),
 array([[0.13219131]]),
 array([[0.03586196]]),
 array([[0.04117436]]),
 array([[0.17381998]]),
 array([[0.09077919]]),
 array([[0.062537]]),
 array([[0.00998418]]),
 array([[0.06983564]]),
 array([[0.05342389]]),
 array([[0.15262715]]),
 array([[0.14013996]]),
 array([[0.06242868]]),
 array([[0.02371943]]),
 array([[0.07773405]]),
 array([[0.07316399]]),
 array([[0.08188465]]),
 array([[0.11359653]]),
 array([[0.07579731]]),
 array([[0.0461004]]),
 array([[0.16432401]]),
 array([[0.1107282]]),
 array([[0.02981144]]),
 array([[0.02393048]]),
 array([[0.03163933]]),
 array([[0.09521399]]),
 array([[0.15731671]]),
 array([[0.22689701]]),
 array([[0.05296827]]),
 array([[0.06754748]]),
 array([[0.16725646]]),
 array([[0.05918492]]),
 array([[0.06706735]]),
 array([[0.06677126]]),
 array([[0.02965875]]),
 array([[0.09633664]]),
 array([[0.10890834]]),
 array([[0.0738164]]),
 array([[0.11635573]]),
 array([[0.05986744]]),
 array([[0.08689768]]),
 array([[0.06075979]]),
 array([[0.06392193]]),
 array([[0.03881712]]),
 array([[0.07060974]]),
 array([[0.07541281]]),
 array([[0.092574]]),
 array([[0.06773843]]),
 array([[0.02434252]]),
 array([[0.04902053]]),
 array([[0.05862886]]),
 array([[0.07075214]]),
 array([[0.14022651]]),
 array([[0.03774262]]),
 array([[0.07374267]]),
 array([[0.04487425]]),
 array([[0.05868462]]),
 array([[0.03249011]]),
 array([[0.04093368]]),
 array([[0.03717329]]),
 array([[0.04860663]]),
 array([[0.06586142]]),
 array([[0.05327914]]),
 array([[0.04032252]]),
 array([[0.04684099]]),
 array([[0.03574864]]),
 array([[0.0332165]]),
 array([[0.05720129]]),
 array([[0.03107485]]),
 array([[0.02779869]]),
 array([[0.0735769]]),
 array([[0.02453057]]),
 array([[0.03274257]]),
 array([[0.03360731]]),
 array([[0.05109347]]),
 array([[0.03799175]]),
 array([[0.03511799]]),
 array([[0.10964796]]),
 array([[0.16880208]]),
 array([[0.07597401]]),
 array([[0.0974343]]),
 array([[0.05353783]]),
 array([[0.03575182]]),
 array([[0.03639682]]),
 array([[0.04156873]]),
 array([[0.02787065]]),
 array([[0.02889424]]),
 array([[0.03413762]]),
 array([[0.16252421]]),
 array([[0.1067221]]),
 array([[0.08880684]]),
 array([[0.05145864]]),
 array([[0.08325673]]),
 array([[0.04005374]]),
 array([[0.14431331]]),
 array([[0.04125631]]),
 array([[0.03148205]]),
 array([[0.03244023]]),
 array([[0.0354559]]),
 array([[0.04837483]]),
 array([[0.0637072]]),
 array([[0.12462272]]),
 array([[0.02951943]]),
 array([[0.08550105]]),
 array([[0.07300045]]),
 array([[0.05781401]]),
 array([[0.10779179]]),
 array([[0.0465935]]),
 array([[0.0435135]]),
 array([[0.18906522]]),
 array([[0.03549388]]),
 array([[0.03836878]]),
 array([[0.0330807]]),
 array([[0.06673431]]),
 array([[0.03414191]]),
 array([[0.11998516]]),
 array([[0.03566573]]),
 array([[0.03508473]]),
 array([[0.08683842]]),
 array([[0.04200244]]),
 array([[0.04010292]]),
 array([[0.03071069]]),
 array([[0.03959787]]),
 array([[0.03951722]]),
 array([[0.03352788]]),
 array([[0.0379786]]),
 array([[0.05871561]]),
 array([[0.03107077]]),
 array([[0.10363497]]),
 array([[0.08870627]]),
 array([[0.06669382]]),
 array([[0.06180798]]),
 array([[0.03893879]]),
 array([[0.02961227]]),
 array([[0.03645903]]),
 array([[0.1123619]]),
 array([[0.06693255]]),
 array([[0.11740434]]),
 array([[0.03581281]]),
 array([[0.06097362]]),
 array([[0.03794355]]),
 array([[0.12881862]]),
 array([[0.03368884]]),
 array([[0.11386145]]),
 array([[0.05613801]]),
 array([[0.08990323]]),
 array([[0.08083891]]),
 array([[0.08123245]]),
 array([[0.03340484]]),
 array([[0.13971148]]),
 array([[0.08786102]]),
 array([[0.07461772]]),
 array([[0.12568392]]),
 array([[0.03779657]]),
 array([[0.02713406]]),
 array([[0.05032473]]),
 array([[0.04698299]]),
 array([[0.03519829]]),
 array([[0.02302696]]),
 array([[0.03986653]]),
 array([[0.0641584]]),
 array([[0.02990794]]),
 array([[0.03755597]]),
 array([[0.07161503]]),
 array([[0.03191689]]),
 array([[0.07167605]]),
 array([[0.02193194]]),
 array([[0.06450107]]),
 array([[0.02520774]]),
 array([[0.10045309]]),
 array([[0.10139824]]),
 array([[0.06980419]]),
 array([[0.04815773]]),
 array([[0.05964274]]),
 array([[0.13232925]]),
 array([[0.02600612]]),
 array([[0.04240558]]),
 array([[0.0413919]]),
 array([[0.12358358]]),
 array([[0.04530038]]),
 array([[0.02304482]]),
 array([[0.07608089]]),
 array([[0.05428766]]),
 array([[0.03626719]]),
 array([[0.03469773]]),
 array([[0.11784698]]),
 array([[0.05590259]]),
 array([[0.03502274]]),
 array([[0.03192363]]),
 array([[0.05119348]]),
 array([[0.03155181]]),
 array([[0.04745963]]),
 array([[0.03812324]]),
 array([[0.04110649]]),
 array([[0.02936061]]),
 array([[0.0752488]]),
 array([[0.03862332]]),
 array([[0.05186577]]),
 array([[0.04664137]]),
 array([[0.03883078]]),
 array([[0.04759911]]),
 array([[0.06845947]]),
 array([[0.09122831]]),
 array([[0.04592321]]),
 array([[0.0216995]]),
 array([[0.07509617]]),
 array([[0.12531134]]),
 array([[0.02491859]]),
 array([[0.06427455]]),
 array([[0.07147874]]),
 array([[0.11453976]]),
 array([[0.0657205]]),
 array([[0.06611816]]),
 array([[0.04706856]]),
 array([[0.02836447]]),
 array([[0.06972006]]),
 array([[0.02882445]]),
 array([[0.09728725]]),
 array([[0.06249772]]),
 array([[0.02826839]]),
 array([[0.07752105]]),
 array([[0.03538786]]),
 array([[0.04696324]]),
 array([[0.03081664]]),
 array([[0.04826449]]),
 array([[0.09002747]]),
 array([[0.05808699]]),
 array([[0.06595]]),
 array([[0.02728638]]),
 array([[0.04189912]]),
 array([[0.07229721]]),
 array([[0.05922549]]),
 array([[0.128088]]),
 array([[0.03400997]]),
 array([[0.14783969]]),
 array([[0.04992415]]),
 array([[0.07779447]]),
 array([[0.07542554]]),
 array([[0.03358712]]),
 array([[0.07309973]]),
 array([[0.06615472]]),
 array([[0.01817163]]),
 array([[0.09562135]]),
 array([[0.08560084]]),
 array([[0.04517353]]),
 array([[0.04633624]]),
 array([[0.06028886]]),
 array([[0.03741864]]),
 array([[0.03349293]]),
 array([[0.03931643]]),
 array([[0.05467725]]),
 array([[0.10615193]]),
 array([[0.03726774]]),
 array([[0.06363634]]),
 array([[0.06782483]]),
 array([[0.07161083]]),
 array([[0.08659831]]),
 array([[0.15013282]]),
 array([[0.16367254]]),
 array([[0.13937995]]),
 array([[0.15667122]]),
 array([[0.14182366]]),
 array([[0.0484108]]),
 array([[0.09923538]]),
 array([[0.03640498]]),
 array([[0.03109316]]),
 array([[0.0376948]]),
 array([[0.05624981]]),
 array([[0.16403383]]),
 array([[0.02570835]]),
 array([[0.06296205]]),
 array([[0.0209406]]),
 array([[0.03238686]]),
 array([[0.10364425]]),
 array([[0.10568537]]),
 array([[0.03553783]]),
 array([[0.03090369]]),
 array([[0.11293629]]),
 array([[0.18734246]]),
 array([[0.07874429]]),
 array([[0.02307041]]),
 array([[0.12546416]]),
 array([[0.03268292]]),
 array([[0.06336847]]),
 array([[0.07007314]]),
 array([[0.14488012]]),
 array([[0.09870043]]),
 array([[0.1491378]]),
 array([[0.14531498]]),
 array([[0.06590431]]),
 array([[0.06654514]]),
 array([[0.06853983]]),
 array([[0.07859534]]),
 array([[0.19294103]]),
 array([[0.08074139]]),
 array([[0.06127701]]),
 array([[0.08244018]]),
 array([[0.0640589]]),
 array([[0.03856492]]),
 array([[0.15416294]]),
 array([[0.03444148]]),
 array([[0.08251804]]),
 array([[0.05269761]]),
 array([[0.02126645]]),
 array([[0.0933561]]),
 array([[0.0911989]]),
 array([[0.0897767]]),
 array([[0.02587478]]),
 array([[0.06309258]]),
 array([[0.0417567]]),
 array([[0.08631487]]),
 array([[0.07390871]]),
 array([[0.0704649]]),
 array([[0.09717674]]),
 array([[0.04784524]]),
 array([[0.02317881]]),
 array([[0.03422556]]),
 array([[0.02977478]]),
 array([[0.03581409]]),
 array([[0.09453774]]),
 array([[0.05507684]]),
 array([[0.06352109]]),
 array([[0.06391882]]),
 array([[0.0517079]]),
 array([[0.05128036]]),
 array([[0.07610529]]),
 array([[0.1963499]]),
 array([[0.03703317]]),
 array([[0.07377747]]),
 array([[0.08801138]]),
 array([[0.0563748]]),
 array([[0.04617296]]),
 array([[0.09376514]]),
 array([[0.02515129]]),
 array([[0.09913365]]),
 array([[0.03490943]]),
 array([[0.05395405]]),
 array([[0.05771372]]),
 array([[0.05235715]]),
 array([[0.06190856]]),
 array([[0.04422202]]),
 array([[0.08331832]]),
 array([[0.11423214]]),
 array([[0.0486197]]),
 array([[0.04065967]]),
 array([[0.03223685]]),
 array([[0.09608113]]),
 array([[0.03554122]]),
 array([[0.08250346]]),
 array([[0.03399568]]),
 array([[0.05159918]]),
 array([[0.1121291]]),
 array([[0.02573131]]),
 array([[0.0749219]]),
 array([[0.06037877]]),
 array([[0.03238925]]),
 array([[0.02629081]]),
 array([[0.12620009]]),
 array([[0.03351322]]),
 array([[0.05931197]]),
 array([[0.0624375]]),
 array([[0.0496347]]),
 array([[0.03341533]]),
 array([[0.05782658]]),
 array([[0.0351621]]),
 array([[0.03996264]]),
 array([[0.05675141]]),
 array([[0.04223843]]),
 array([[0.12069139]]),
 array([[0.05120462]]),
 array([[0.03601018]]),
 array([[0.05463139]]),
 array([[0.02462661]]),
 array([[0.03636454]]),
 array([[0.0729582]]),
 array([[0.0896422]]),
 array([[0.04875592]]),
 array([[0.05312875]]),
 array([[0.06988917]]),
 array([[0.04848186]]),
 array([[0.12057047]]),
 array([[0.04514759]]),
 array([[0.02537947]]),
 array([[0.03892745]]),

In [248]:
top = sorted(range(len(output2)), key=lambda i: output2[i], reverse=True)[:100]
list_scores = [output2[i][0][0] for i in top]
TF=get_recommendation(top,df, list_scores)
TF

,positionName,company,location,JobID,description,score
0,Machine Learning Lead Engineer,Wasoko,"Bengaluru, Karnataka",480,Summary We are looking for an experienced ML ...,0.226897
1,Data Scientist,Chubb INA Holdings Inc.,"Bengaluru, Karnataka",91,Job Requirements Responsibilities Work with b...,0.218604
2,Data Science - Knowledge Graph,Chubb INA Holdings Inc.,"Bengaluru, Karnataka",95,Work Experience Work with business partners gl...,0.216358
3,"Manager MLOps, Data Science",Mondelēz International,"Mumbai, Maharashtra",382,Job Description Are You Ready to Make It Hap...,0.20882
4,"Manager MLOps, Data Science",Mondelēz International,"Mumbai, Maharashtra",982,Job Description Are You Ready to Make It Hap...,0.208813
...,...,...,...,...,...,...
95,AI/ML Engineer,BizAcuity,India,917,Roles and Responsibilities Experience with Dee...,0.136698
96,Data Science (NLP) Intern,Emplay Inc,Remote,430,"Job Title: NLP/Data Science InternStipend- 20,...",0.136235
97,Data Science and Business Analytics,Zotto Limited,"Delhi, Delhi",306,We are looking for a Data Scientist who will s...,0.136063
98,Lead Machine Learning Firmware Test Engineer,Axiado,"Hyderabad, Telangana",872,Company Description Axiado is an AI-enhanced ...,0.134897
99,Lead Machine Learning Firmware Test Engineer,Axiado,"Hyderabad, Telangana",338,Company Description Axiado is an AI-enhanced ...,0.134875

## cosine_similarity + CountVectorizer

In [249]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count_vectorizer = CountVectorizer()
count_jobid = count_vectorizer.fit_transform(df['All']) #converting job data into vectors using count vectorizers
count_jobid

<5502x52637 sparse matrix of type '<class 'numpy.int64'>'
	with 1666676 stored elements in Compressed Sparse Row format>

In [250]:
# print(count_jobid)

In [251]:
user_count = count_vectorizer.transform(df2['All'])#converting user cv data into vectors using count vectorizers
user_count

<1x52637 sparse matrix of type '<class 'numpy.int64'>'
	with 153 stored elements in Compressed Sparse Row format>

In [252]:
print(user_count)

  (0, 2913)	2
  (0, 2967)	2
  (0, 2970)	2
  (0, 15813)	2
  (0, 15815)	2
  (0, 16168)	2
  (0, 16591)	5
  (0, 16821)	2
  (0, 16832)	3
  (0, 16871)	2
  (0, 16876)	2
  (0, 16949)	2
  (0, 17212)	2
  (0, 17818)	4
  (0, 17993)	2
  (0, 18627)	2
  (0, 19069)	4
  (0, 19369)	2
  (0, 22941)	2
  (0, 24943)	2
  (0, 24995)	3
  (0, 25239)	8
  (0, 25455)	2
  (0, 25554)	2
  (0, 25844)	2
  :	:
  (0, 48064)	4
  (0, 48334)	2
  (0, 48889)	2
  (0, 48929)	4
  (0, 49115)	2
  (0, 49211)	4
  (0, 49212)	2
  (0, 49590)	2
  (0, 49623)	1
  (0, 49653)	2
  (0, 49684)	2
  (0, 49812)	4
  (0, 49857)	2
  (0, 49940)	2
  (0, 50098)	2
  (0, 50537)	4
  (0, 50651)	2
  (0, 50672)	3
  (0, 50702)	2
  (0, 50704)	2
  (0, 50798)	2
  (0, 51749)	2
  (0, 51902)	4
  (0, 51986)	2
  (0, 52078)	2

In [253]:
cos_similarity_countv = map(lambda x: cosine_similarity(user_count, x),count_jobid)
output3 = list(cos_similarity_countv)
#output3

In [254]:
output3

[array([[0.18863457]]),
 array([[0.2481385]]),
 array([[0.24711524]]),
 array([[0.12716114]]),
 array([[0.12939732]]),
 array([[0.23386668]]),
 array([[0.20115459]]),
 array([[0.20418955]]),
 array([[0.15770306]]),
 array([[0.23541296]]),
 array([[0.25059923]]),
 array([[0.18570229]]),
 array([[0.1823044]]),
 array([[0.23054604]]),
 array([[0.05574862]]),
 array([[0.07995794]]),
 array([[0.17876581]]),
 array([[0.30066768]]),
 array([[0.11702739]]),
 array([[0.05482444]]),
 array([[0.13573553]]),
 array([[0.15172343]]),
 array([[0.08835614]]),
 array([[0.17443657]]),
 array([[0.13318113]]),
 array([[0.22564303]]),
 array([[0.1761034]]),
 array([[0.1852207]]),
 array([[0.21421287]]),
 array([[0.16261891]]),
 array([[0.07621752]]),
 array([[0.17870924]]),
 array([[0.20435785]]),
 array([[0.26651071]]),
 array([[0.15601183]]),
 array([[0.09007552]]),
 array([[0.14537332]]),
 array([[0.07623741]]),
 array([[0.12837822]]),
 array([[0.21094625]]),
 array([[0.12037555]]),
 array([[0.20473648]]),
 array([[0.22928901]]),
 array([[0.10448478]]),
 array([[0.20734578]]),
 array([[0.2039515]]),
 array([[0.18703923]]),
 array([[0.18727819]]),
 array([[0.08143814]]),
 array([[0.13246078]]),
 array([[0.09379961]]),
 array([[0.1224786]]),
 array([[0.28223759]]),
 array([[0.1456191]]),
 array([[0.28105549]]),
 array([[0.08265212]]),
 array([[0.1366042]]),
 array([[0.19522638]]),
 array([[0.18499326]]),
 array([[0.15906564]]),
 array([[0.10955476]]),
 array([[0.12260289]]),
 array([[0.18663558]]),
 array([[0.21709826]]),
 array([[0.11615854]]),
 array([[0.11940328]]),
 array([[0.22628484]]),
 array([[0.13423802]]),
 array([[0.13347982]]),
 array([[0.27682295]]),
 array([[0.15933889]]),
 array([[0.16360682]]),
 array([[0.14305492]]),
 array([[0.29211946]]),
 array([[0.35605509]]),
 array([[0.14565805]]),
 array([[0.12898163]]),
 array([[0.20918736]]),
 array([[0.2594584]]),
 array([[0.21605413]]),
 array([[0.26444157]]),
 array([[0.17488156]]),
 array([[0.19478326]]),
 array([[0.22029897]]),
 array([[0.20043059]]),
 array([[0.0751488]]),
 array([[0.21223436]]),
 array([[0.19225451]]),
 array([[0.14315717]]),
 array([[0.07852435]]),
 array([[0.13858631]]),
 array([[0.30459225]]),
 array([[0.19410759]]),
 array([[0.22928915]]),
 array([[0.16255771]]),
 array([[0.30244472]]),
 array([[0.17525862]]),
 array([[0.20830776]]),
 array([[0.12116569]]),
 array([[0.08952203]]),
 array([[0.1712191]]),
 array([[0.21248108]]),
 array([[0.08675227]]),
 array([[0.17022224]]),
 array([[0.10622405]]),
 array([[0.12651846]]),
 array([[0.11215333]]),
 array([[0.17218388]]),
 array([[0.26890056]]),
 array([[0.19025085]]),
 array([[0.04525268]]),
 array([[0.25452479]]),
 array([[0.21229363]]),
 array([[0.17662783]]),
 array([[0.21256608]]),
 array([[0.17276533]]),
 array([[0.09768894]]),
 array([[0.13589317]]),
 array([[0.23048838]]),
 array([[0.13817877]]),
 array([[0.10935482]]),
 array([[0.16227214]]),
 array([[0.15644135]]),
 array([[0.10304254]]),
 array([[0.14405699]]),
 array([[0.0826393]]),
 array([[0.07718697]]),
 array([[0.09820654]]),
 array([[0.12158534]]),
 array([[0.18438837]]),
 array([[0.10757599]]),
 array([[0.11121554]]),
 array([[0.07091866]]),
 array([[0.11407497]]),
 array([[0.1440104]]),
 array([[0.18391258]]),
 array([[0.19409922]]),
 array([[0.21963726]]),
 array([[0.16812766]]),
 array([[0.08405213]]),
 array([[0.28033914]]),
 array([[0.23584896]]),
 array([[0.14502357]]),
 array([[0.08819543]]),
 array([[0.14475847]]),
 array([[0.06983401]]),
 array([[0.20221044]]),
 array([[0.20824704]]),
 array([[0.21104714]]),
 array([[0.09566564]]),
 array([[0.17314115]]),
 array([[0.20752264]]),
 array([[0.1914068]]),
 array([[0.14366234]]),
 array([[0.23159927]]),
 array([[0.23958697]]),
 array([[0.20511983]]),
 array([[0.12492154]]),
 array([[0.17054579]]),
 array([[0.05690962]]),
 array([[0.1150004]]),
 array([[0.2268265]]),
 array([[0.15545172]]),
 array([[0.10919995]]),
 array([[0.2774294]]),
 array([[0.18655288]]),
 array([[0.10169729]]),
 array([[0.11510403]]),
 array([[0.1929172]]),
 array([[0.14000569]]),
 array([[0.24488115]]),
 array([[0.21452028]]),
 array([[0.15314272]]),
 array([[0.11154657]]),
 array([[0.10100367]]),
 array([[0.13182814]]),
 array([[0.16477348]]),
 array([[0.13680772]]),
 array([[0.11920575]]),
 array([[0.11299063]]),
 array([[0.1679554]]),
 array([[0.18546409]]),
 array([[0.10439969]]),
 array([[0.29487822]]),
 array([[0.14020721]]),
 array([[0.16160821]]),
 array([[0.1223412]]),
 array([[0.11267068]]),
 array([[0.15719255]]),
 array([[0.14506819]]),
 array([[0.20193097]]),
 array([[0.22665049]]),
 array([[0.13339964]]),
 array([[0.20298334]]),
 array([[0.18561369]]),
 array([[0.11901265]]),
 array([[0.20608339]]),
 array([[0.06735142]]),
 array([[0.16390305]]),
 array([[0.24285842]]),
 array([[0.06567052]]),
 array([[0.17680293]]),
 array([[0.16498467]]),
 array([[0.17337035]]),
 array([[0.13354663]]),
 array([[0.23447335]]),
 array([[0.11128399]]),
 array([[0.1366853]]),
 array([[0.10078721]]),
 array([[0.12546659]]),
 array([[0.16670828]]),
 array([[0.20735553]]),
 array([[0.17020828]]),
 array([[0.21437514]]),
 array([[0.19688405]]),
 array([[0.15968317]]),
 array([[0.12090555]]),
 array([[0.20551744]]),
 array([[0.08065922]]),
 array([[0.25570485]]),
 array([[0.19172776]]),
 array([[0.24931803]]),
 array([[0.14795956]]),
 array([[0.23204684]]),
 array([[0.14761512]]),
 array([[0.2367695]]),
 array([[0.14932094]]),
 array([[0.18117333]]),
 array([[0.15049476]]),
 array([[0.29715914]]),
 array([[0.10795828]]),
 array([[0.09011]]),
 array([[0.14681353]]),
 array([[0.15570028]]),
 array([[0.17796486]]),
 array([[0.12241122]]),
 array([[0.23916369]]),
 array([[0.1619124]]),
 array([[0.18202459]]),
 array([[0.17537693]]),
 array([[0.13510688]]),
 array([[0.23398926]]),
 array([[0.23024049]]),
 array([[0.19252623]]),
 array([[0.1509893]]),
 array([[0.1566872]]),
 array([[0.10182026]]),
 array([[0.21291504]]),
 array([[0.11765903]]),
 array([[0.12173408]]),
 array([[0.18508386]]),
 array([[0.18518246]]),
 array([[0.12567374]]),
 array([[0.12732432]]),
 array([[0.10252133]]),
 array([[0.14062053]]),
 array([[0.18689331]]),
 array([[0.10586963]]),
 array([[0.23358596]]),
 array([[0.12865782]]),
 array([[0.15801806]]),
 array([[0.13200536]]),
 array([[0.19252623]]),
 array([[0.15003527]]),
 array([[0.18391208]]),
 array([[0.25456938]]),
 array([[0.1431273]]),
 array([[0.10415575]]),
 array([[0.13275475]]),
 array([[0.11408163]]),
 array([[0.06845988]]),
 array([[0.15922803]]),
 array([[0.12352059]]),
 array([[0.19162167]]),
 array([[0.17522575]]),
 array([[0.30433691]]),
 array([[0.10836518]]),
 array([[0.12144625]]),
 array([[0.17842972]]),
 array([[0.20058921]]),
 array([[0.07266067]]),
 array([[0.18663887]]),
 array([[0.10672594]]),
 array([[0.19614365]]),
 array([[0.27954677]]),
 array([[0.26427013]]),
 array([[0.2019878]]),
 array([[0.18439312]]),
 array([[0.13743449]]),
 array([[0.15530214]]),
 array([[0.24947948]]),
 array([[0.17337035]]),
 array([[0.2283004]]),
 array([[0.10965713]]),
 array([[0.25976296]]),
 array([[0.11237619]]),
 array([[0.28210351]]),
 array([[0.13716062]]),
 array([[0.15730637]]),
 array([[0.19140935]]),
 array([[0.21817034]]),
 array([[0.30092549]]),
 array([[0.20300609]]),
 array([[0.1315018]]),
 array([[0.11801018]]),
 array([[0.26407831]]),
 array([[0.21795323]]),
 array([[0.33309681]]),
 array([[0.18317447]]),
 array([[0.20241532]]),
 array([[0.2320738]]),
 array([[0.19028888]]),
 array([[0.2188731]]),
 array([[0.20871445]]),
 array([[0.32971489]]),
 array([[0.27875925]]),
 array([[0.21526634]]),
 array([[0.13117537]]),
 array([[0.14401612]]),
 array([[0.20960614]]),
 array([[0.19423026]]),
 array([[0.11295544]]),
 array([[0.20519099]]),
 array([[0.12172976]]),
 array([[0.08525573]]),
 array([[0.15900839]]),
 array([[0.10605756]]),
 array([[0.23597847]]),
 array([[0.28809732]]),
 array([[0.17120877]]),
 array([[0.19666888]]),
 array([[0.13566894]]),
 array([[0.15003505]]),
 array([[0.14237716]]),
 array([[0.31844518]]),
 array([[0.21731324]]),
 array([[0.12963851]]),
 array([[0.31833803]]),
 array([[0.23768398]]),
 array([[0.22423406]]),
 array([[0.12566564]]),
 array([[0.22951703]]),
 array([[0.2072937]]),
 array([[0.12348618]]),
 array([[0.20506472]]),
 array([[0.06856589]]),
 array([[0.17757402]]),
 array([[0.11222515]]),
 array([[0.19804841]]),
 array([[0.19745421]]),
 array([[0.21127265]]),
 array([[0.19054905]]),
 array([[0.23734831]]),
 array([[0.17039358]]),
 array([[0.15856942]]),
 array([[0.20570566]]),
 array([[0.13095462]]),
 array([[0.13376457]]),
 array([[0.08803277]]),
 array([[0.15903476]]),
 array([[0.17707147]]),
 array([[0.13066521]]),
 array([[0.14282911]]),
 array([[0.25649783]]),
 array([[0.2038312]]),
 array([[0.2230848]]),
 array([[0.18475066]]),
 array([[0.14564569]]),
 array([[0.13936547]]),
 array([[0.1259393]]),
 array([[0.12291515]]),
 array([[0.18777838]]),
 array([[0.12564269]]),
 array([[0.2568986]]),
 array([[0.22489094]]),
 array([[0.14642379]]),
 array([[0.21295138]]),
 array([[0.18691445]]),
 array([[0.18103661]]),
 array([[0.15745617]]),
 array([[0.10975271]]),
 array([[0.11229747]]),
 array([[0.22864519]]),
 array([[0.17461768]]),
 array([[0.15760418]]),
 array([[0.12611311]]),
 array([[0.20688447]]),
 array([[0.1850136]]),
 array([[0.1081765]]),
 array([[0.215409]]),
 array([[0.2286678]]),
 array([[0.1117018]]),
 array([[0.17724909]]),
 array([[0.09892521]]),
 array([[0.15220492]]),
 array([[0.28533037]]),
 array([[0.20391679]]),
 array([[0.11214514]]),
 array([[0.11280774]]),
 array([[0.19956366]]),
 array([[0.3575868]]),
 array([[0.25302273]]),
 array([[0.10598656]]),
 array([[0.20120347]]),
 array([[0.09214369]]),
 array([[0.0627404]]),
 array([[0.08951852]]),
 array([[0.12644746]]),
 array([[0.18866878]]),
 array([[0.12275512]]),
 array([[0.17295039]]),
 array([[0.18242588]]),
 array([[0.16716471]]),
 array([[0.17911052]]),
 array([[0.09961503]]),
 array([[0.08356104]]),
 array([[0.17866877]]),
 array([[0.12247847]]),
 array([[0.19439729]]),
 array([[0.14437837]]),
 array([[0.21763521]]),
 array([[0.08060863]]),
 array([[0.11501347]]),
 array([[0.10158788]]),
 array([[0.19526689]]),
 array([[0.14086595]]),
 array([[0.24176531]]),
 array([[0.17856035]]),
 array([[0.08753671]]),
 array([[0.13917574]]),
 array([[0.21802962]]),
 array([[0.14271376]]),
 array([[0.22955851]]),
 array([[0.17730281]]),
 array([[0.08998815]]),
 array([[0.23222341]]),
 array([[0.15777532]]),
 array([[0.16420416]]),
 array([[0.23367375]]),
 array([[0.17666888]]),
 array([[0.10531426]]),
 array([[0.13225301]]),
 array([[0.10357704]]),
 array([[0.07118149]]),
 array([[0.24661645]]),
 array([[0.19204987]]),
 array([[0.21775627]]),
 array([[0.16214156]]),
 array([[0.28746295]]),
 array([[0.13982056]]),
 array([[0.32128148]]),
 array([[0.12862197]]),
 array([[0.09635133]]),
 array([[0.19067349]]),
 array([[0.32438875]]),
 array([[0.09788347]]),
 array([[0.15908634]]),
 array([[0.23488485]]),
 array([[0.15080462]]),
 array([[0.14394172]]),
 array([[0.09505044]]),
 array([[0.14602246]]),
 array([[0.203552]]),
 array([[0.26087085]]),
 array([[0.31427117]]),
 array([[0.20595053]]),
 array([[0.09271518]]),
 array([[0.15162518]]),
 array([[0.16436042]]),
 array([[0.16197657]]),
 array([[0.24127486]]),
 array([[0.14656635]]),
 array([[0.12859464]]),
 array([[0.36081749]]),
 array([[0.17110447]]),
 array([[0.10880398]]),
 array([[0.1027799]]),
 array([[0.05026319]]),
 array([[0.22244603]]),
 array([[0.18590294]]),
 array([[0.30976623]]),
 array([[0.10949492]]),
 array([[0.131712]]),
 array([[0.23302463]]),
 array([[0.14273509]]),
 array([[0.17399069]]),
 array([[0.16726285]]),
 array([[0.12032881]]),
 array([[0.13251783]]),
 array([[0.17567518]]),
 array([[0.18819022]]),
 array([[0.30916581]]),
 array([[0.20943821]]),
 array([[0.17753873]]),
 array([[0.1031856]]),
 array([[0.1364565]]),
 array([[0.10801775]]),
 array([[0.15387282]]),
 array([[0.16276934]]),
 array([[0.22052069]]),
 array([[0.12149415]]),
 array([[0.1002317]]),
 array([[0.10103317]]),
 array([[0.17443657]]),
 array([[0.15172343]]),
 array([[0.20115093]]),
 array([[0.09152333]]),
 array([[0.14779486]]),
 array([[0.10488569]]),
 array([[0.11426612]]),
 array([[0.07407464]]),
 array([[0.10566897]]),
 array([[0.09565932]]),
 array([[0.09977959]]),
 array([[0.13333587]]),
 array([[0.1187537]]),
 array([[0.09773648]]),
 array([[0.09786596]]),
 array([[0.07998324]]),
 array([[0.07774831]]),
 array([[0.11513004]]),
 array([[0.08373172]]),
 array([[0.10075352]]),
 array([[0.14443394]]),
 array([[0.08074474]]),
 array([[0.07958475]]),
 array([[0.07769384]]),
 array([[0.09710097]]),
 array([[0.09782941]]),
 array([[0.08201234]]),
 array([[0.21094625]]),
 array([[0.35605509]]),
 array([[0.17876581]]),
 array([[0.23054604]]),
 array([[0.12767685]]),
 array([[0.09112928]]),
 array([[0.08639934]]),
 array([[0.09776255]]),
 array([[0.06804028]]),
 array([[0.07619125]]),
 array([[0.0928904]]),
 array([[0.26179777]]),
 array([[0.16261891]]),
 array([[0.20473648]]),
 array([[0.13674518]]),
 array([[0.16217945]]),
 array([[0.08265212]]),
 array([[0.26651071]]),
 array([[0.12145084]]),
 array([[0.10708097]]),
 array([[0.09615351]]),
 array([[0.14058149]]),
 array([[0.08879218]]),
 array([[0.10608106]]),
 array([[0.1761034]]),
 array([[0.09095469]]),
 array([[0.15601183]]),
 array([[0.15502798]]),
 array([[0.1334516]]),
 array([[0.15933889]]),
 array([[0.09098654]]),
 array([[0.13678465]]),
 array([[0.28105549]]),
 array([[0.07364866]]),
 array([[0.09713325]]),
 array([[0.07770473]]),
 array([[0.17089653]]),
 array([[0.08649074]]),
 array([[0.28223759]]),
 array([[0.10372671]]),
 array([[0.13430435]]),
 array([[0.20734578]]),
 array([[0.08511003]]),
 array([[0.08986186]]),
 array([[0.08834995]]),
 array([[0.08307998]]),
 array([[0.07833549]]),
 array([[0.08378006]]),
 array([[0.08954782]]),
 array([[0.18666791]]),
 array([[0.07217869]]),
 array([[0.19522638]]),
 array([[0.21223436]]),
 array([[0.1651368]]),
 array([[0.11615854]]),
 array([[0.11498683]]),
 array([[0.06682274]]),
 array([[0.11991231]]),
 array([[0.27682295]]),
 array([[0.15035853]]),
 array([[0.29211946]]),
 array([[0.12321864]]),
 array([[0.11744244]]),
 array([[0.10235975]]),
 array([[0.26444157]]),
 array([[0.0828213]]),
 array([[0.21555604]]),
 array([[0.10593106]]),
 array([[0.18657497]]),
 array([[0.14121099]]),
 array([[0.14315717]]),
 array([[0.08296708]]),
 array([[0.1952615]]),
 array([[0.13555523]]),
 array([[0.20043059]]),
 array([[0.17276533]]),
 array([[0.09495852]]),
 array([[0.07852435]]),
 array([[0.11398391]]),
 array([[0.09831026]]),
 array([[0.10677516]]),
 array([[0.06298871]]),
 array([[0.1185597]]),
 array([[0.17440138]]),
 array([[0.09578583]]),
 array([[0.0827821]]),
 array([[0.16948327]]),
 array([[0.08116978]]),
 array([[0.19225451]]),
 array([[0.06588903]]),
 array([[0.13938875]]),
 array([[0.05775571]]),
 array([[0.19410759]]),
 array([[0.14767221]]),
 array([[0.11945344]]),
 array([[0.13297658]]),
 array([[0.1462626]]),
 array([[0.21471976]]),
 array([[0.06220198]]),
 array([[0.14078832]]),
 array([[0.11368523]]),
 array([[0.18574842]]),
 array([[0.10538599]]),
 array([[0.08527151]]),
 array([[0.20211121]]),
 array([[0.12550365]]),
 array([[0.09001476]]),
 array([[0.09633172]]),
 array([[0.21256608]]),
 array([[0.13589317]]),
 array([[0.09114288]]),
 array([[0.09887055]]),
 array([[0.12457198]]),
 array([[0.08674025]]),
 array([[0.13263631]]),
 array([[0.10544763]]),
 array([[0.10285598]]),
 array([[0.08532876]]),
 array([[0.16812766]]),
 array([[0.10679954]]),
 array([[0.11836726]]),
 array([[0.13036316]]),
 array([[0.09154577]]),
 array([[0.0857062]]),
 array([[0.17196093]]),
 array([[0.25452479]]),
 array([[0.11584025]]),
 array([[0.08202489]]),
 array([[0.12651846]]),
 array([[0.26890056]]),
 array([[0.09127764]]),
 array([[0.10622405]]),
 array([[0.20918918]]),
 array([[0.20221044]]),
 array([[0.1440104]]),
 array([[0.14875959]]),
 array([[0.15527933]]),
 array([[0.06996278]]),
 array([[0.14833803]]),
 array([[0.08359445]]),
 array([[0.19447749]]),
 array([[0.11396713]]),
 array([[0.10465008]]),
 array([[0.09820654]]),
 array([[0.09392274]]),
 array([[0.11407497]]),
 array([[0.08906998]]),
 array([[0.08721459]]),
 array([[0.18583809]]),
 array([[0.17123633]]),
 array([[0.09369402]]),
 array([[0.07320819]]),
 array([[0.11344543]]),
 array([[0.19362513]]),
 array([[0.13815448]]),
 array([[0.25570485]]),
 array([[0.12566384]]),
 array([[0.2268265]]),
 array([[0.14545905]]),
 array([[0.14779875]]),
 array([[0.15545172]]),
 array([[0.08223156]]),
 array([[0.19596783]]),
 array([[0.1712191]]),
 array([[0.10366469]]),
 array([[0.23958697]]),
 array([[0.21949688]]),
 array([[0.11601005]]),
 array([[0.10074004]]),
 array([[0.17874795]]),
 array([[0.08995065]]),
 array([[0.10023894]]),
 array([[0.07237836]]),
 array([[0.14207971]]),
 array([[0.16766589]]),
 array([[0.09676031]]),
 array([[0.11765903]]),
 array([[0.14065978]]),
 array([[0.23358596]]),
 array([[0.20394698]]),
 array([[0.2367695]]),
 array([[0.23916369]]),
 array([[0.23398926]]),
 array([[0.24931803]]),
 array([[0.24285842]]),
 array([[0.12923729]]),
 array([[0.23159927]]),
 array([[0.13406323]]),
 array([[0.09008415]]),
 array([[0.1092796]]),
 array([[0.13064727]]),
 array([[0.32676405]]),
 array([[0.07435291]]),
 array([[0.14347623]]),
 array([[0.06814895]]),
 array([[0.09791909]]),
 array([[0.20193097]]),
 array([[0.18689331]]),
 array([[0.06901641]]),
 array([[0.08718682]]),
 array([[0.18518246]]),
 array([[0.23204684]]),
 array([[0.17314115]]),
 array([[0.07174264]]),
 array([[0.20752264]]),
 array([[0.07175813]]),
 array([[0.14062053]]),
 array([[0.17337035]]),
 array([[0.25976296]]),
 array([[0.22250973]]),
 array([[0.27954677]]),
 array([[0.28210351]]),
 array([[0.16670828]]),
 array([[0.17680293]]),
 array([[0.13716062]]),
 array([[0.22665049]]),
 array([[0.21104714]]),
 array([[0.1914068]]),
 array([[0.12983401]]),
 array([[0.21452028]]),
 array([[0.14905539]]),
 array([[0.09975303]]),
 array([[0.29715914]]),
 array([[0.10098345]]),
 array([[0.1929172]]),
 array([[0.1037174]]),
 array([[0.07204723]]),
 array([[0.14566058]]),
 array([[0.1378864]]),
 array([[0.22133776]]),
 array([[0.0840451]]),
 array([[0.19871941]]),
 array([[0.09075812]]),
 array([[0.16477348]]),
 array([[0.13211105]]),
 array([[0.17566772]]),
 array([[0.14932094]]),
 array([[0.09927432]]),
 array([[0.08974147]]),
 array([[0.07226465]]),
 array([[0.08571876]]),
 array([[0.10432016]]),
 array([[0.13200536]]),
 array([[0.11543083]]),
 array([[0.12277527]]),
 array([[0.1316953]]),
 array([[0.12820794]]),
 array([[0.10454561]]),
 array([[0.113399]]),
 array([[0.28162386]]),
 array([[0.08951304]]),
 array([[0.19172776]]),
 array([[0.22192114]]),
 array([[0.09086033]]),
 array([[0.1431273]]),
 array([[0.25862926]]),
 array([[0.11719574]]),
 array([[0.20193546]]),
 array([[0.15417433]]),
 array([[0.1499775]]),
 array([[0.10271685]]),
 array([[0.12282206]]),
 array([[0.16862082]]),
 array([[0.09054368]]),
 array([[0.17070166]]),
 array([[0.18663887]]),
 array([[0.15849563]]),
 array([[0.1852133]]),
 array([[0.09188302]]),
 array([[0.2019878]]),
 array([[0.06901451]]),
 array([[0.21328447]]),
 array([[0.07931309]]),
 array([[0.13237571]]),
 array([[0.20830057]]),
 array([[0.10208254]]),
 array([[0.18071266]]),
 array([[0.11372646]]),
 array([[0.09791909]]),
 array([[0.11012235]]),
 array([[0.20298334]]),
 array([[0.07859262]]),
 array([[0.14148032]]),
 array([[0.14883567]]),
 array([[0.13510688]]),
 array([[0.1136939]]),
 array([[0.25456938]]),
 array([[0.08242207]]),
 array([[0.0870413]]),
 array([[0.12908048]]),
 array([[0.128927]]),
 array([[0.18508386]]),
 array([[0.10337391]]),
 array([[0.08116315]]),
 array([[0.10863475]]),
 array([[0.09219222]]),
 array([[0.11070021]]),
 array([[0.20142012]]),
 array([[0.19207825]]),
 array([[0.10089794]]),
 array([[0.18202459]]),
 array([[0.17337035]]),
 array([[0.13176012]]),
 array([[0.18229941]]),
 array([[0.09323381]]),
 array([[0.07905383]]),

In [255]:
df.rating

0       3.7
1       4.0
2       4.0
3       NaN
4       NaN
       ...
5497    NaN
5498    NaN
5499    NaN
5500    NaN
5501    5.0
Name: rating, Length: 5502, dtype: float64

In [256]:
top = sorted(range(len(output3)), key=lambda i: output3[i], reverse=True)[:100]
list_scores = [output3[i][0][0] for i in top]
cv=get_recommendation(top, df, list_scores)
cv

,positionName,company,location,JobID,description,score
0,Python Machine Learning Engineer,Vingsfire HRIM Pvt Ltd,"Madurai, Tamil Nadu",473,Role : Senior Python DeveloperExperience: 5+ Y...,0.360817
1,MACHINE LEARNING ENGINEER,Amanzi Technologies,"Noida, Uttar Pradesh",400,Amanzi Technologies Pvt. Ltd. ...,0.357587
2,MACHINE LEARNING ENGINEER,Amanzi Technologies,"Noida, Uttar Pradesh",920,Amanzi Technologies Pvt. Ltd. ...,0.357587
3,Data Scientist (India Remote),Token Metrics,"Bengaluru, Karnataka",74,Token Metrics is searching for a highly capabl...,0.356055
4,Data Scientist (India Remote),Token Metrics,"Bengaluru, Karnataka",531,Token Metrics is searching for a highly capabl...,0.356055
...,...,...,...,...,...,...
95,Lead Machine Learning Firmware Test Engineer,Axiado,"Hyderabad, Telangana",872,Company Description Axiado is an AI-enhanced ...,0.237684
96,Machine Learning,Think Future Technologies,"Gurgaon, Haryana",352,Exp: 2 + Years Location: Gurgaon/ Remote Ski...,0.237348
97,Machine Learning Engineer,Apple,"Bengaluru, Karnataka",225,"Summary Posted: Dec 7, 2022 ...",0.23677
98,Machine Learning Engineer,Apple,"Bengaluru, Karnataka",710,"Summary Posted: Dec 7, 2022 ...",0.23677
99,Data Scientist,Ergode IT Services Pvt. ltd.,"Mumbai, Maharashtra",327,Role Description - (Mumbai Based and Immediate...,0.235978

In [257]:
cv.description[1]

'Amanzi Technologies Pvt. Ltd.                              Permanent                              Noida                              Posted 3 weeks ago                          Out of the box solution          Responsibilities:      Designing and developing machine learning and deep learning systems.    Running machine learning tests and experiments.    Implementing appropriate ML algorithms.        Job brief:   We are looking for a Machine Learning (ML) Engineer to help us create artificial intelligence products.   Machine Learning Engineer responsibilities include creating machine learning models and retraining systems. To do this job successfully, you need exceptional skills in statistics and programming. If you also have knowledge of data science and software engineering, we’d like to meet you.   Your ultimate goal will be to shape and build efficient self-learning applications.   Responsibilities:      Study and transform data science prototypes.    Design machine learning systemsResearch and implement appropriate ML algorithms and tools.    Develop machine learning applications according to requirements.    Select appropriate datasets and data representation methodsRun machine learning tests and experiments.    Perform statistical analysis and fine-tuning using test resultsTrain and retrain systems when necessary.    Extend existing ML libraries and frameworks.    Keep abreast of developments in the field        Mandatory skills:      Bachelor’s degree in computer science, data science, mathematics, or a related field. (B.E / MCA / B. tech / P. hd).    4-7 years of experience as a machine learning engineer.    Extensive knowledge of ML frameworks, libraries, data structures, data modelling, and software architecture.    In-depth knowledge of mathematics, statistics, and algorithms.    Proficiency with a deep learning framework such as TensorFlow or Keras.    Proficiency with Python(Mandate) and basic libraries for machine learning such as scikit-learn and pandas.    Ability to select hardware to run an ML model with the required latency.    Proficiency in Artificial neural networks, RNN, LSTM.    Hands-on Autoencoders, GAN’s, Convolution neural networks and Deep learning models.    Experience with at least one cloud provider solution (AWS, GCP, Azure).        Job Features                     Job Category                 Information Technology'

## TfidfVectorizer + NearestNeighbors

In [258]:
from sklearn.neighbors import NearestNeighbors

def KNN(scraped_data, cv):
    tfidf_vectorizer = TfidfVectorizer(stop_words='english')

    
    KNN = NearestNeighbors(n_neighbors=100,p=2)
    KNN.fit(tfidf_vectorizer.fit_transform(scraped_data))
#     NNs = KNN.kneighbors(tfidf_vectorizer.transform(cv), return_distance=True)
    NNs = KNN.kneighbors(tfidf_vectorizer.transform(cv))
    top = NNs[1][0][1:]
    index_score = NNs[0][0][1:]

    knn = get_recommendation(top, df, index_score)
    return knn

knn = KNN(df['All'], df2['All'])
knn

,positionName,company,location,JobID,description,score
0,Data Scientist,Chubb INA Holdings Inc.,"Bengaluru, Karnataka",91,Job Requirements Responsibilities Work with b...,1.25012
1,Data Science - Knowledge Graph,Chubb INA Holdings Inc.,"Bengaluru, Karnataka",95,Work Experience Work with business partners gl...,1.25191
2,"Manager MLOps, Data Science",Mondelēz International,"Mumbai, Maharashtra",382,Job Description Are You Ready to Make It Hap...,1.25792
3,"Manager MLOps, Data Science",Mondelēz International,"Mumbai, Maharashtra",982,Job Description Are You Ready to Make It Hap...,1.25792
4,ASSOCIATE DEVOPS ENGINEER,SKS Enterpprise,"Chennai, Tamil Nadu",779,Position Name - Associate DevOps Engineer L...,1.26779
...,...,...,...,...,...,...
94,AI/ML Engineer,BizAcuity,India,917,Roles and Responsibilities Experience with Dee...,1.314
95,Data Science (NLP) Intern,Emplay Inc,Remote,430,"Job Title: NLP/Data Science InternStipend- 20,...",1.31436
96,Data Science and Business Analytics,Zotto Limited,"Delhi, Delhi",306,We are looking for a Data Scientist who will s...,1.31449
97,Lead Machine Learning Firmware Test Engineer,Axiado,"Hyderabad, Telangana",872,Company Description Axiado is an AI-enhanced ...,1.31537
98,Lead Machine Learning Firmware Test Engineer,Axiado,"Hyderabad, Telangana",338,Company Description Axiado is an AI-enhanced ...,1.31539

In [259]:

knn.to_csv('knn.csv', index=False)

In [260]:
cv

,positionName,company,location,JobID,description,score
0,Python Machine Learning Engineer,Vingsfire HRIM Pvt Ltd,"Madurai, Tamil Nadu",473,Role : Senior Python DeveloperExperience: 5+ Y...,0.360817
1,MACHINE LEARNING ENGINEER,Amanzi Technologies,"Noida, Uttar Pradesh",400,Amanzi Technologies Pvt. Ltd. ...,0.357587
2,MACHINE LEARNING ENGINEER,Amanzi Technologies,"Noida, Uttar Pradesh",920,Amanzi Technologies Pvt. Ltd. ...,0.357587
3,Data Scientist (India Remote),Token Metrics,"Bengaluru, Karnataka",74,Token Metrics is searching for a highly capabl...,0.356055
4,Data Scientist (India Remote),Token Metrics,"Bengaluru, Karnataka",531,Token Metrics is searching for a highly capabl...,0.356055
...,...,...,...,...,...,...
95,Lead Machine Learning Firmware Test Engineer,Axiado,"Hyderabad, Telangana",872,Company Description Axiado is an AI-enhanced ...,0.237684
96,Machine Learning,Think Future Technologies,"Gurgaon, Haryana",352,Exp: 2 + Years Location: Gurgaon/ Remote Ski...,0.237348
97,Machine Learning Engineer,Apple,"Bengaluru, Karnataka",225,"Summary Posted: Dec 7, 2022 ...",0.23677
98,Machine Learning Engineer,Apple,"Bengaluru, Karnataka",710,"Summary Posted: Dec 7, 2022 ...",0.23677
99,Data Scientist,Ergode IT Services Pvt. ltd.,"Mumbai, Maharashtra",327,Role Description - (Mumbai Based and Immediate...,0.235978

## Combined TFIDF, CV and KNN result together, to make a dataframe "final"

In [262]:
merge1 = knn[['JobID','positionName', 'score']].merge(TF[['JobID','score']], on= "JobID")

In [263]:
# merge1 = knn[['JobID','title', 'score']].merge(TF[['JobID','score']], on= "JobID")
# final = merge1.merge(cv[['JobID','score']], on = "JobID")
# final = final.rename(columns={"score_x": "KNN", "score_y": "TF-IDF","score": "CV"})
# final.head()a

final = merge1.merge(cv[['JobID','score']], on = "JobID")
final = final.rename(columns={"score_x": "KNN", "score_y": "TF-IDF","score": "CV"})
final.head()

  JobID                    positionName      KNN    TF-IDF        CV
0    91                  Data Scientist  1.25012  0.218604  0.304592
1    95  Data Science - Knowledge Graph  1.25191  0.216358  0.302445
2   779       ASSOCIATE DEVOPS ENGINEER  1.26779   0.19635  0.281624
3   400       MACHINE LEARNING ENGINEER  1.27042  0.193013  0.357587
4   920       MACHINE LEARNING ENGINEER  1.27063  0.192747  0.357587

In [264]:
final

,JobID,positionName,KNN,TF-IDF,CV
0,91,Data Scientist,1.25012,0.218604,0.304592
1,95,Data Science - Knowledge Graph,1.25191,0.216358,0.302445
2,779,ASSOCIATE DEVOPS ENGINEER,1.26779,0.19635,0.281624
3,400,MACHINE LEARNING ENGINEER,1.27042,0.193013,0.357587
4,920,MACHINE LEARNING ENGINEER,1.27063,0.192747,0.357587
5,54,Machine Learning Engineer,1.27347,0.189131,0.281055
6,562,Machine Learning Engineer,1.27353,0.189065,0.281055
7,183,Senior Data Scientist,1.2778,0.183613,0.294878
8,334,Data Scientist,1.28281,0.177203,0.318445
9,337,Data Scientist,1.28323,0.176656,0.318338
10,845,AVP-DEVOPS,1.28746,0.171226,0.271828
11,74,Data Scientist (India Remote),1.28928,0.16888,0.356055
12,531,Data Scientist (India Remote),1.28934,0.168802,0.356055
13,164,Python Data Science Trainer,1.28984,0.168157,0.277429
14,473,Python Machine Learning Engineer,1.29281,0.164324,0.360817
15,721,Automation Engineer,1.29303,0.164034,0.326764
16,711,Machine Learning Engineer,1.29331,0.163673,0.239164
17,236,Machine Learning Engineer,1.29333,0.163643,0.239164
18,541,AI Engineer_MLOPS_3 to 10 years,1.2942,0.162524,0.261798
19,3711,AI Engineer_MLOPS_3 to 10 years,1.29423,0.16249,0.261798
20,307,Data Science - Lead & Manager/Sr. Manager,1.29578,0.160471,0.333097
21,221,Machine Learning Engineer,1.29863,0.156782,0.249318
22,713,Machine Learning Engineer,1.29871,0.156671,0.249318
23,285,AI Tech Lead,1.29953,0.155611,0.26427
24,275,Senior Machine Learning Researcher,1.29981,0.155241,0.304337
25,752,Machine Learning Engineer,1.30064,0.154163,0.297159
26,1859,Machine Learning Engineer,1.30068,0.154119,0.297159
27,229,Machine Learning Engineer,1.30077,0.153997,0.297159
28,444,Data Science Engineer,1.30083,0.153916,0.246616
29,463,Machine Learning Engineer,1.30182,0.152627,0.260871
30,140,Data Scientist,1.30217,0.152175,0.280339
31,710,Machine Learning Engineer,1.30374,0.150133,0.23677
32,225,Machine Learning Engineer,1.30374,0.150128,0.23677
33,284,Senior Machine Learning Engineer,1.30436,0.14932,0.279547
34,740,Senior Machine Learning Engineer,1.3045,0.149138,0.279547
35,1970,Senior Machine Learning Engineer,1.30452,0.149114,0.279547
36,327,Data Scientist,1.30656,0.146444,0.235978
37,305,Data Scientist,1.30678,0.146167,0.264078
38,450,Sr. Data Scientist,1.30678,0.146158,0.321281
39,741,SatSure Analytics - Machine Learning Engineer,1.30743,0.145315,0.282104
40,1999,SatSure Analytics - Machine Learning Engineer,1.30746,0.145277,0.282104
41,296,SatSure Analytics - Machine Learning Engineer,1.30749,0.145231,0.282104
42,294,Senior Machine Learning Engineer Opportunity A...,1.30774,0.144903,0.259763
43,738,Senior Machine Learning Engineer Opportunity A...,1.30776,0.14488,0.259763
44,33,Data Science Engineer,1.30801,0.144553,0.266511
45,547,Data Science Engineer,1.30819,0.144313,0.266511
46,78,Machine Learning Developer,1.30953,0.142562,0.259458
47,199,Machine Learning Engineer,1.31,0.141949,0.242858
48,714,Machine Learning Engineer,1.3101,0.141824,0.242858
49,464,Machine Learning Intern,1.31138,0.14014,0.314271
50,315,Machine Learning Engineer (2-4 years),1.31386,0.136892,0.278759
51,373,AI/ML Engineer,1.31388,0.136866,0.256899
52,871,Machine Learning Engineer (2-4 years),1.31392,0.136803,0.278759
53,917,AI/ML Engineer,1.314,0.136698,0.256899
54,872,Lead Machine Learning Firmware Test Engineer,1.31537,0.134897,0.237684
55,338,Lead Machine Learning Firmware Test Engineer,1.31539,0.134875,0.237684

In [265]:
# Scale it
from sklearn.preprocessing import MinMaxScaler
slr = MinMaxScaler()
final[["KNN", "TF-IDF", 'CV']] = slr.fit_transform(final[["KNN", "TF-IDF", 'CV']])

# Multiply by weights
final['KNN'] = (1-final['KNN'])/3
final['TF-IDF'] = final['TF-IDF']/3
final['CV'] = final['CV']/3
final['Final'] = final['KNN']+final['TF-IDF']+final['CV']
final.sort_values(by="Final", ascending=False)

,JobID,positionName,KNN,TF-IDF,CV,Final
0,91,Data Scientist,0.333333,0.333333,0.183206,0.849873
1,95,Data Science - Knowledge Graph,0.324164,0.324391,0.177472,0.826027
3,400,MACHINE LEARNING ENGINEER,0.229635,0.231453,0.324707,0.785795
4,920,MACHINE LEARNING ENGINEER,0.228566,0.230394,0.324707,0.783667
2,779,ASSOCIATE DEVOPS ENGINEER,0.243061,0.244736,0.121878,0.609675
11,74,Data Scientist (India Remote),0.133341,0.135376,0.320617,0.589334
12,531,Data Scientist (India Remote),0.133032,0.135065,0.320617,0.588714
14,473,Python Machine Learning Engineer,0.115319,0.117238,0.333333,0.56589
8,334,Data Scientist,0.16639,0.16851,0.220195,0.555095
9,337,Data Scientist,0.164213,0.166333,0.219909,0.550455
5,54,Machine Learning Engineer,0.214047,0.215996,0.12036,0.550404
6,562,Machine Learning Engineer,0.213784,0.215735,0.12036,0.54988
7,183,Senior Data Scientist,0.191957,0.194028,0.157269,0.543254
15,721,Automation Engineer,0.114173,0.116083,0.242407,0.472662
20,307,Data Science - Lead & Manager/Sr. Manager,0.100118,0.1019,0.259316,0.461335
10,845,AVP-DEVOPS,0.142638,0.144714,0.0957222,0.383075
13,164,Python Data Science Trainer,0.130479,0.132499,0.110678,0.373656
24,275,Senior Machine Learning Researcher,0.0795386,0.0810794,0.182524,0.343142
38,450,Sr. Data Scientist,0.0439484,0.0449191,0.227768,0.316635
25,752,Machine Learning Engineer,0.0753026,0.0767856,0.163359,0.315447
26,1859,Machine Learning Engineer,0.0751303,0.076611,0.163359,0.3151
27,229,Machine Learning Engineer,0.0746498,0.0761238,0.163359,0.314132
18,541,AI Engineer_MLOPS_3 to 10 years,0.108213,0.110073,0.0689403,0.287226
19,3711,AI Engineer_MLOPS_3 to 10 years,0.108078,0.109936,0.0689403,0.286955
30,140,Data Scientist,0.0675,0.0688696,0.118448,0.254817
49,464,Machine Learning Intern,0.02047,0.0209588,0.20905,0.250479
23,285,AI Tech Lead,0.0809918,0.0825518,0.0755417,0.239085
16,711,Machine Learning Engineer,0.112746,0.114644,0.00850487,0.235895
17,236,Machine Learning Engineer,0.11263,0.114527,0.00850487,0.235662
33,284,Senior Machine Learning Engineer,0.0563146,0.0575053,0.116332,0.230152
34,740,Senior Machine Learning Engineer,0.0556014,0.0567801,0.116332,0.228713
35,1970,Senior Machine Learning Engineer,0.055508,0.0566851,0.116332,0.228525
21,221,Machine Learning Engineer,0.0855938,0.0872123,0.035618,0.208424
22,713,Machine Learning Engineer,0.0851582,0.0867714,0.035618,0.207548
29,463,Machine Learning Engineer,0.0692753,0.0706715,0.0664653,0.206412
39,741,SatSure Analytics - Machine Learning Engineer,0.0406529,0.0415611,0.123159,0.205373
40,1999,SatSure Analytics - Machine Learning Engineer,0.0405042,0.0414095,0.123159,0.205072
41,296,SatSure Analytics - Machine Learning Engineer,0.0403238,0.0412256,0.123159,0.204708
28,444,Data Science Engineer,0.074335,0.0758045,0.0284045,0.178544
37,305,Data Scientist,0.043983,0.0449544,0.0750295,0.163967
44,33,Data Science Engineer,0.0376756,0.0385258,0.0815243,0.157726
45,547,Data Science Engineer,0.0367416,0.0375733,0.0815243,0.155839
42,294,Senior Machine Learning Engineer Opportunity A...,0.0390448,0.0399218,0.0635071,0.142474
43,738,Senior Machine Learning Engineer Opportunity A...,0.0389546,0.0398299,0.0635071,0.142292
50,315,Machine Learning Engineer (2-4 years),0.00783276,0.00802736,0.114229,0.130089
52,871,Machine Learning Engineer (2-4 years),0.00748792,0.00767415,0.114229,0.129391
46,78,Machine Learning Developer,0.0299081,0.0306007,0.0626939,0.123203
31,710,Machine Learning Engineer,0.0594978,0.0607414,0.00211215,0.122351
32,225,Machine Learning Engineer,0.0594786,0.0607219,0.00211215,0.122313
36,327,Data Scientist,0.0450652,0.0460568,0,0.091122
47,199,Machine Learning Engineer,0.0275196,0.028162,0.0183702,0.0740518
48,714,Machine Learning Engineer,0.0270298,0.0276618,0.0183702,0.0730618
51,373,AI/ML Engineer,0.00773231,0.00792447,0.055859,0.0715157
53,917,AI/ML Engineer,0.00708097,0.0072573,0.055859,0.0701972
54,872,Lead Machine Learning Firmware Test Engineer,8.42989e-05,8.64431e-05,0.0045539,0.00472464
55,338,Lead Machine Learning Firmware Test Engineer,0,0,0.0045539,0.0045539

In [266]:
# final.to_csv('final.csv', index=False)
final2 = final.sort_values(by="Final", ascending=False).copy()
final2

,JobID,positionName,KNN,TF-IDF,CV,Final
0,91,Data Scientist,0.333333,0.333333,0.183206,0.849873
1,95,Data Science - Knowledge Graph,0.324164,0.324391,0.177472,0.826027
3,400,MACHINE LEARNING ENGINEER,0.229635,0.231453,0.324707,0.785795
4,920,MACHINE LEARNING ENGINEER,0.228566,0.230394,0.324707,0.783667
2,779,ASSOCIATE DEVOPS ENGINEER,0.243061,0.244736,0.121878,0.609675
11,74,Data Scientist (India Remote),0.133341,0.135376,0.320617,0.589334
12,531,Data Scientist (India Remote),0.133032,0.135065,0.320617,0.588714
14,473,Python Machine Learning Engineer,0.115319,0.117238,0.333333,0.56589
8,334,Data Scientist,0.16639,0.16851,0.220195,0.555095
9,337,Data Scientist,0.164213,0.166333,0.219909,0.550455
5,54,Machine Learning Engineer,0.214047,0.215996,0.12036,0.550404
6,562,Machine Learning Engineer,0.213784,0.215735,0.12036,0.54988
7,183,Senior Data Scientist,0.191957,0.194028,0.157269,0.543254
15,721,Automation Engineer,0.114173,0.116083,0.242407,0.472662
20,307,Data Science - Lead & Manager/Sr. Manager,0.100118,0.1019,0.259316,0.461335
10,845,AVP-DEVOPS,0.142638,0.144714,0.0957222,0.383075
13,164,Python Data Science Trainer,0.130479,0.132499,0.110678,0.373656
24,275,Senior Machine Learning Researcher,0.0795386,0.0810794,0.182524,0.343142
38,450,Sr. Data Scientist,0.0439484,0.0449191,0.227768,0.316635
25,752,Machine Learning Engineer,0.0753026,0.0767856,0.163359,0.315447
26,1859,Machine Learning Engineer,0.0751303,0.076611,0.163359,0.3151
27,229,Machine Learning Engineer,0.0746498,0.0761238,0.163359,0.314132
18,541,AI Engineer_MLOPS_3 to 10 years,0.108213,0.110073,0.0689403,0.287226
19,3711,AI Engineer_MLOPS_3 to 10 years,0.108078,0.109936,0.0689403,0.286955
30,140,Data Scientist,0.0675,0.0688696,0.118448,0.254817
49,464,Machine Learning Intern,0.02047,0.0209588,0.20905,0.250479
23,285,AI Tech Lead,0.0809918,0.0825518,0.0755417,0.239085
16,711,Machine Learning Engineer,0.112746,0.114644,0.00850487,0.235895
17,236,Machine Learning Engineer,0.11263,0.114527,0.00850487,0.235662
33,284,Senior Machine Learning Engineer,0.0563146,0.0575053,0.116332,0.230152
34,740,Senior Machine Learning Engineer,0.0556014,0.0567801,0.116332,0.228713
35,1970,Senior Machine Learning Engineer,0.055508,0.0566851,0.116332,0.228525
21,221,Machine Learning Engineer,0.0855938,0.0872123,0.035618,0.208424
22,713,Machine Learning Engineer,0.0851582,0.0867714,0.035618,0.207548
29,463,Machine Learning Engineer,0.0692753,0.0706715,0.0664653,0.206412
39,741,SatSure Analytics - Machine Learning Engineer,0.0406529,0.0415611,0.123159,0.205373
40,1999,SatSure Analytics - Machine Learning Engineer,0.0405042,0.0414095,0.123159,0.205072
41,296,SatSure Analytics - Machine Learning Engineer,0.0403238,0.0412256,0.123159,0.204708
28,444,Data Science Engineer,0.074335,0.0758045,0.0284045,0.178544
37,305,Data Scientist,0.043983,0.0449544,0.0750295,0.163967
44,33,Data Science Engineer,0.0376756,0.0385258,0.0815243,0.157726
45,547,Data Science Engineer,0.0367416,0.0375733,0.0815243,0.155839
42,294,Senior Machine Learning Engineer Opportunity A...,0.0390448,0.0399218,0.0635071,0.142474
43,738,Senior Machine Learning Engineer Opportunity A...,0.0389546,0.0398299,0.0635071,0.142292
50,315,Machine Learning Engineer (2-4 years),0.00783276,0.00802736,0.114229,0.130089
52,871,Machine Learning Engineer (2-4 years),0.00748792,0.00767415,0.114229,0.129391
46,78,Machine Learning Developer,0.0299081,0.0306007,0.0626939,0.123203
31,710,Machine Learning Engineer,0.0594978,0.0607414,0.00211215,0.122351
32,225,Machine Learning Engineer,0.0594786,0.0607219,0.00211215,0.122313
36,327,Data Scientist,0.0450652,0.0460568,0,0.091122
47,199,Machine Learning Engineer,0.0275196,0.028162,0.0183702,0.0740518
48,714,Machine Learning Engineer,0.0270298,0.0276618,0.0183702,0.0730618
51,373,AI/ML Engineer,0.00773231,0.00792447,0.055859,0.0715157
53,917,AI/ML Engineer,0.00708097,0.0072573,0.055859,0.0701972
54,872,Lead Machine Learning Firmware Test Engineer,8.42989e-05,8.64431e-05,0.0045539,0.00472464
55,338,Lead Machine Learning Firmware Test Engineer,0,0,0.0045539,0.0045539

In [267]:
# final2.merge(df, on="JobID")
final_df = df.merge(final2, on="JobID")
final_df

,id,company,positionName_x,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,All,JobID,positionName_y,KNN,TF-IDF,CV,Final
0,1336f2ba99b7aa51,Emerson,Data Science Engineer,Responsibilities Development of Data Analys...,NaN,"Pune, Maharashtra",3.8,2888.0,2 days ago,https://in.indeed.com/applystart?jk=1336f2ba99...,https://www.indeed.co.in/rc/clk?jk=1336f2ba99b...,"1336f2ba99b7aa51,Emerson,Data Science Engineer...",33,Data Science Engineer,0.0376756,0.0385258,0.0815243,0.157726
1,d6a9445dca6529ca,Revolo InfoTech,Machine Learning Engineer,We are seeking a highly skilled ML Ops Enginee...,"₹15,00,000 - ₹24,00,000 a year","Mumbai, Maharashtra",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/Revolo-Infote...,"d6a9445dca6529ca,Revolo InfoTech,Machine Learn...",54,Machine Learning Engineer,0.214047,0.215996,0.12036,0.550404
2,8099c00f755726f3,Token Metrics,Data Scientist (India Remote),Token Metrics is searching for a highly capabl...,NaN,"Bengaluru, Karnataka",NaN,NaN,1 day ago,NaN,https://www.indeed.co.in/rc/clk?jk=8099c00f755...,"8099c00f755726f3,Token Metrics,Data Scientist ...",74,Data Scientist (India Remote),0.133341,0.135376,0.320617,0.589334
3,23291deee438b2dc,Analog and Digital Labs India Pvt,Machine Learning Developer,Greetings From Analog & Digital Labs India Pvt...,"₹3,00,000 - ₹5,00,000 a year","Coimbatore, Tamil Nadu",NaN,NaN,3 days ago,NaN,https://www.indeed.co.in/company/Analog-and-Di...,"23291deee438b2dc,Analog and Digital Labs India...",78,Machine Learning Developer,0.0299081,0.0306007,0.0626939,0.123203
4,a388c042d99345d2,Chubb INA Holdings Inc.,Data Scientist,Job Requirements Responsibilities Work with b...,NaN,"Bengaluru, Karnataka",3.7,1045.0,4 days ago,https://in.indeed.com/applystart?jk=a388c042d9...,https://www.indeed.co.in/rc/clk?jk=a388c042d99...,"a388c042d99345d2,Chubb INA Holdings Inc.,Data ...",91,Data Scientist,0.333333,0.333333,0.183206,0.849873
5,5f449b74d67e072d,Chubb INA Holdings Inc.,Data Science - Knowledge Graph,Work Experience Work with business partners gl...,NaN,"Bengaluru, Karnataka",3.7,1045.0,4 days ago,https://in.indeed.com/applystart?jk=5f449b74d6...,https://www.indeed.co.in/rc/clk?jk=5f449b74d67...,"5f449b74d67e072d,Chubb INA Holdings Inc.,Data ...",95,Data Science - Knowledge Graph,0.324164,0.324391,0.177472,0.826027
6,7abc93fb606577de,Pridetech labs pvt ltd Bangalore,Data Scientist,Qualifications for Senior Data Scientist MS in...,"From ₹5,00,000 a year",Remote,NaN,NaN,5 days ago,NaN,https://www.indeed.co.in/company/Pridetech-lab...,"7abc93fb606577de,Pridetech labs pvt ltd Bangal...",140,Data Scientist,0.0675,0.0688696,0.118448,0.254817
7,0411db7f75aa4a13,Payas Technologies Pvt Ltd,Python Data Science Trainer,We are hiring for an expert Python Data Scienc...,"₹30,000 a month","Pune, Maharashtra",NaN,NaN,5 days ago,NaN,https://www.indeed.co.in/company/Payas-Technol...,"0411db7f75aa4a13,Payas Technologies Pvt Ltd,Py...",164,Python Data Science Trainer,0.130479,0.132499,0.110678,0.373656
8,c12e50690eed7838,Simplifai India,Senior Data Scientist,Simplifai is a Global IT company specializing ...,NaN,"Pune, Maharashtra",NaN,NaN,10 days ago,https://in.indeed.com/applystart?jk=c12e50690e...,https://www.indeed.co.in/rc/clk?jk=c12e50690ee...,"c12e50690eed7838,Simplifai India,Senior Data S...",183,Senior Data Scientist,0.191957,0.194028,0.157269,0.543254
9,464f8855716a27dc,CogniveAI Innovations,Machine Learning Engineer,No. of. Openings : 4 Years of Experience : ...,NaN,"Chennai, Tamil Nadu",NaN,NaN,11 days ago,https://in.indeed.com/applystart?jk=464f885571...,https://www.indeed.co.in/rc/clk?jk=464f8855716...,"464f8855716a27dc,CogniveAI Innovations,Machine...",199,Machine Learning Engineer,0.0275196,0.028162,0.0183702,0.0740518
10,2a9f5be670fb65c7,Brightree,Machine Learning Engineer,Digital Health Technology team powers digital ...,NaN,"Bengaluru, Karnataka",NaN,NaN,11 days ago,https://in.indeed.com/applystart?jk=2a9f5be670...,https://www.indeed.co.in/rc/clk?jk=2a9f5be670f...,"2a9f5be670fb65c7,Brightree,Machine Learning En...",221,Machine Learning Engineer,0.0855938,0.0872123,0.035618,0.208424
11,8105213e81e590ac,Apple,Machine Learning Engineer,"Summary Posted: Dec 7, 2022 ...",NaN,"Bengaluru, Karnataka",4.1,11645.0,11 days ago,https://in.indeed.com/applystart?jk=8105213e81...,https://www.indeed.co.in/rc/clk?jk=8105213e81e...,"8105213e81e590ac,Apple,Machine Learning Engine...",225,Machine Learning Engineer,0.0594786,0.0607219,0.00211215,0.122313
12,292982d45a49af6a,SatSure Analytics India,Machine Learning Engineer,"About SatSure SatSure is a deep tech, decisi...",NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=292982d45a...,https://www.indeed.co.in/rc/clk?jk=292982d45a4...,"292982d45a49af6a,SatSure Analytics India,Machi...",229,Machine Learning Engineer,0.0746498,0.0761238,0.163359,0.314132
13,ffab9b464de14332,Corteva,Machine Learning Engineer,Description Position : Machine Learning Engin...,NaN,"Hyderabad, Telangana",3.7,266.0,11 days ago,https://in.indeed.com/applystart?jk=ffab9b464d...,https://www.indeed.co.in/rc/clk?jk=ffab9b464de...,"ffab9b464de14332,Corteva,Machine Learning Engi...",236,Machine Learning Engineer,0.11263,0.114527,0.00850487,0.235662
14,962f30f070aa901c,SatSure Analytics India,Senior Machine Learning Researcher,"About SatSure SatSure is a deep tech, decisi...",NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=962f30f070...,https://www.indeed.co.in/rc/clk?jk=962f30f070a...,"962f30f070aa901c,SatSure Analytics India,Senio...",275,Senior Machine Learning Researcher,0.0795386,0.0810794,0.182524,0.343142
15,0d223e0f20aa223a,SatSure Analytics India,Senior Machine Learning Engineer,"About SatSure SatSure is a deep tech, decisi...",NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=0d223e0f20...,https://www.indeed.co.in/rc/clk?jk=0d223e0f20a...,"0d223e0f20aa223a,SatSure Analytics India,Senio...",284,Senior Machine Learning Engineer,0.0563146,0.0575053,0.116332,0.230152
16,d5e6985332347fe1,GoPrac,AI Tech Lead,"(Job Vacancy in Bangalore) June 22, 2021 ...",NaN,"Bengaluru, Karnataka",NaN,NaN,9 days ago,https://in.indeed.com/applystart?jk=d5e6985332...,https://www.indeed.co.in/rc/clk?jk=d5e69853323...,"d5e6985332347fe1,GoPrac,AI Tech Lead,(Job Vaca...",285,AI Tech Lead,0.0809918,0.0825518,0.0755417,0.239085
17,ae53b42a89a73ba0,Wolters Kluwer,Senior Machine Learning Engineer Opportunity A...,Wolters Kluwer is a global leader in professio...,NaN,"Pune, Maharashtra",3.6,927.0,10 days ago,https://in.indeed.com/applystart?jk=ae53b42a89...,https://www.indeed.co.in/rc/clk?jk=ae53b42a89a...,"ae53b42a89a73ba0,Wolters Kluwer,Senior Machine...",294,Senior Machine Learning Engineer Opportunity A...,0.0390448,0.0399218,0.0635071,0.142474
18,cfd02e7f11f0f60e,ConsultBae,SatSure Analytics - Machine Learning Engineer,Location: Bangalore Working Days: 5 Days E...,NaN,"Bengaluru, Karnataka",NaN,NaN,10 days ago,https://in.indeed.com/applystart?jk=cfd02e7f11...,https://www.indeed.co.in/rc/clk?jk=cfd02e7f11f...,"cfd02e7f11f0f60e,ConsultBae,SatSure Analytics ...",296,SatSure Analytics - Machine Learning Engineer,0.0403238,0.0412256,0.123159,0.204708
19,bc68d63c44c5878f,Radome Technologies & Services Pvt Ltd,Data Scientist,1. Undertake to preprocess of structured and u...,"₹25,000 - ₹35,000 a month","Bengaluru, Karnataka",NaN,NaN,12 days ago,NaN,https://www.indeed.co.in/company/Radome-Techno...,"bc68d63c44c5878f,Radome Technologies & Service...",305,Data Scientist,0.043983,0.0449544,0.0750295,0.163967
20,1b59fe7b8b0272e7,SA Technologies Inc.,Data Science - Lead & Manager/Sr. Manager,Manager/ Sr. Manager - Data Science 10 - 1...,NaN,"Mumbai, Maharashtra",2.8,6.0,8 days ago,https://in.indeed.com/applystart?jk=1b59fe7b8b...,https://www.indeed.co.in/rc/clk?jk=1b59fe7b8b0...,"1b59fe7b8b0272e7,SA Technologies Inc.,Data Sci...",307,Data Science - Lead & Manager/Sr. Manager,0.100118,0.1019,0.259316,0.461335
21,fa7188929e29072e,Digispoc Technology Pvt. Ltd.,Machine Learning Engineer (2-4 years),Machine Learning EngineerRole and responsibili...,"Up to ₹8,00,000 a year","Chennai, Tamil Nadu",NaN,NaN,11 days ago,NaN,https://www.indeed.co.in/company/Digispoc-Tech...,"fa7188929e29072e,Digispoc Technology Pvt. Ltd....",315,Machine Learning Engineer (2-4 years),0.00783276,0.00802736,0.114229,0.130089
22,8f92f1d5834d4f5b,Ergode IT Services Pvt. ltd.,Data Scientist,Role Description - (Mumbai Based and Immediate...,"₹4,00,000 - ₹8,00,000 a year","Mumbai, Maharashtra",4.0,66.0,13 days ago,NaN,https://www.indeed.co.in/company/Ergode-IT-Ser...,"8f92f1d5834d4f5b,Ergode IT Services Pvt. ltd.,...",327,Data Scientist,0.0450652,0.0460568,0,0.091122
23,b0d424bf8f41e756,Capgemini,Data Scientist,Job Description Develop strategi...,NaN,"Bengaluru, Karnataka",3.8,9087.0,18 days ago,https://in.indeed.com/applystart?jk=b0d424bf8f...,https://www.indeed.co.in/rc/clk?jk=b0d424bf8f4...,"b0d424bf8f41e756,Capgemini,Data Scientist,Job ...",334,Data Scientist,0.16639,0.16851,0.220195,0.555095
24,48627303be6e24fb,Capgemini Invent,Data Scientist,Job Description Develop strategies ...,NaN,"Bengaluru, Karnataka",3.7,26.0,18 days ago,https://in.indeed.com/applystart?jk=48627303be...,https://www.indeed.co.in/rc/clk?jk=48627303be6...,"48627303be6e24fb,Capgemini Invent,Data Scienti...",337,Data Scientist,0.164213,0.166333,0.219909,0.550455
25,86b7ee059bfbd90d,Axiado,Lead Machine Learning Firmware Test Engineer,Company Description Axiado is an AI-enhanced ...,NaN,"Hyderabad, Telangana",NaN,NaN,11 days ago,NaN,https://www.indeed.co.in/rc/clk?jk=86b7ee059bf...,"86b7ee059bfbd90d,Axiado,Lead Machine Learning ...",338,Lead Machine Learning Firmware Test Engineer,0,0,0.0045539,0.0045539
26,06dc76b1654530f6,BizAcuity,AI/ML Engineer,Roles and Responsibilities Experience with Dee...,NaN,India,NaN,NaN,17 days ago,https://in.indeed.com/applystart?jk=06dc76b165...,https://www.indeed.co.in/rc/clk?jk=06dc76b1654...,"06dc76b1654530f6,BizAcuity,AI/ML Engineer,Role...",373,AI/ML Engineer,0.00773231,0.00792447,0.055859,0.0715157
27,4d15f9d4352f1957,Amanzi Technologies,MACHINE LEARNING ENGINEER,Amanzi Technologies Pvt. Ltd. ...,NaN,"Noida, Uttar Pradesh",NaN,NaN,17 days ago,https://in.indeed.com/applystart?jk=4d15f9d435...,https://www.indeed.co.in/rc/clk?jk=4d15f9d4352...,"4d15f9d4352f1957,Amanzi Technologies,MACHINE L...",400,MACHINE LEARNING ENGINEER,0.229635,0.231453,0.324707,0.785795
28,5766ffdb7210ff84,F(x) Data Labs PVT LTD,Data Science Engineer,Job OverviewWe are looking for a Data Scientis...,"₹5,00,000 - ₹7,00,000 a year","Ahmedabad, Gujarat",4.7,35.0,16 days ago,NaN,https://www.indeed.co.in/company/F(x)-Data-Lab...,"5766ffdb7210ff84,F(x) Data Labs PVT LTD,Data S...",444,Data Science Engineer,0.074335,0.0758045,0.0284045,0.178544
29,561c23c0a50ac32c,Insourcedev Pvt Ltd,Sr. Data Scientist,Our client Successful SA technology group is l...,"Up to ₹37,00,000 a year",Remote,NaN,NaN,17 days ago,NaN,https://www.indeed.co.in/company/Insourcedev-P...,"561c23c0a50ac32c,Insourcedev Pvt Ltd,Sr. Data ...",450,Sr. Data Scientist,0.0439484,0.0449191,0.227768,0.316635
30,3e0bf3dda3f603ee,WELD GROUP,Machine Learning Engineer,You would be joining our team as a Machine Lea...,"Up to ₹20,000 a month","Bhubaneshwar, Orissa",NaN,NaN,18 days ago,NaN,https://www.indeed.co.in/company/WELD-GROUP/jo...,"3e0bf3dda3f603ee,WELD GROUP,Machine Learning E...",463,Machine Learning Engineer,0.0692753,0.0706715,0.0664653,0.206412
31,adad0eca2919bb70,Feynn Labs,Machine Learning Intern,Job Responsibilities:1. Using Machine Learning...,"₹2,500 a month","Bengaluru, Karnataka",NaN,NaN,14 days ago,NaN,https://www.indeed.co.in/company/Feynn-Labs/jo...,"adad0eca2919bb70,Feynn Labs,Machine Learning I...",464,Machine Learning Intern,0.02047,0.0209588,0.20905,0.250479
32,28d3c0788d6dc58d,Vingsfire HRIM Pvt Ltd,Python Machine Learning Engineer,Role : Senior Python DeveloperExperience: 5+ Y...,NaN,"Madurai, Tamil Nadu",NaN,NaN,17 days ago,NaN,https://www.indeed.co.in/company/Vingsfire/job...,"28d3c0788d6dc58d,Vingsfire HRIM Pvt Ltd,Python...",473,Python Machine Learning Engineer,0.115319,0.117238,0.333333,0.56589
33,8099c00f755726f3,Token Metrics,Data Scientist (India Remote),Token Metrics is searching for a highly capabl...,NaN,"Bengaluru, Karnataka",NaN,NaN,1 day ago,NaN,https://www.indeed.co.in/rc/clk?jk=8099c00f755...,"8099c00f755726f3,Token Metrics,Data Scientist ...",531,Data Scientist (India Remote),0.133032,0.135065,0.320617,0.588714
34,ef735b0ff2f73b06,Fractal Analytics,AI Engineer_MLOPS_3 to 10 years,It's fun to work in a company where people tru...,NaN,"Bengaluru, Karnataka",3.7,49.0,2 days ago,https://in.indeed.com/applystart?jk=ef735b0ff2...,https://www.indeed.co.in/rc/clk?jk=ef735b0ff2f...,"ef735b0ff2f73b06,Fractal Analytics,AI Engineer...",541,AI Engineer_MLOPS_3 to 10 years,0.108213,0.110073,0.0689403,0.287226
35,1336f2ba99b7aa51,Emerson,Data Science Engineer,Responsibilities Development of Data Analys...,NaN,"Pune, Maharashtra",3.8,2888.0,2 days ago,https://in.indeed.com/applystart?jk=1336f2ba99...,https://www.indeed.co.in/rc/clk?jk=1336f2ba99b...,"1336f2ba99b7aa51,Emerson,Data Science Engineer...",547,Data Science Engineer,0.0367416,0.0375733,0.0815243,0.155839
36,d6a9445dca6529ca,Revolo InfoTech,Machine Learning Engineer,We are seeking a highly skilled ML Ops Enginee...,"₹15,00,000 - ₹24,00,000 a year","Mumbai, Maharashtra",NaN,NaN,2 days ago,NaN,https://www.indeed.co.in/company/Revolo-Infote...,"d6a9445dca6529ca,Revolo InfoTech,Machine Learn...",562,Machine Learning Engineer,0.213784,0.215735,0.12036,0.54988
37,8105213e81e590ac,Apple,Machine Learning Engineer,"Summary Posted: Dec 7, 2022 ...",NaN,"Bengaluru, Karnataka",4.1,11645.0,12 days ago,https://in.indeed.com/applystart?jk=8105213e81...,https://www.indeed.co.in/rc/clk?jk=8105213e81e...,"8105213e81e590ac,Apple,Machine Learning Engine...",710,Machine Learning Engineer,0.0594978,0.0607414,0.00211215,0.122351
38,ffab9b464de14332,Corteva,Machine Learning Engineer,Description Position : Machine Learning Engin...,NaN,"Hyderabad, Telangana",3.7,266.0,11 days ago,https://in.indeed.com/applystart?jk=ffab9b464d...,https://www.indeed.co.in/rc/clk?jk=ffab9b464de...,"ffab9b464de14332,Corteva,Machine Learning Engi...",711,Machine Learning Engineer,0.112746,0.114644,0.00850487,0.235895
39,2a9f5be670fb65c7,Brightree,Machine Learning Engineer,Digital Health Technology team powers digital ...,NaN,"Bengaluru, Karnataka",NaN,NaN,11 days ago,https://in.indeed.com/applystart?jk=2a9f5be670...,https://www.indeed.co.in/rc/clk?jk=2a9f5be670f...,"2a9f5be670fb65c7,Brightree,Machine Learning En...",713,Machine Learning Engineer,0.0851582,0.0867714,0.035618,0.207548
40,464f8855716a27dc,CogniveAI Innovations,Machine Learning Engineer,No. of. Openings : 4 Years of Experience : ...,NaN,"Chennai, Tamil Nadu",NaN,NaN,11 days ago,https://in.indeed.com/applystart?jk=464f885571...,https://www.indeed.co.in/rc/clk?jk=464f8855716...,"464f8855716a27dc,CogniveAI Innovations,Machine...",714,Machine Learning Engineer,0.0270298,0.0276618,0.0183702,0.0730618
41,2bfabb73036c97c8,Mercedes-Benz Research and Development India P...,Automation Engineer,Aufgaben Job ID: Data Analyst ...,NaN,"Bengaluru, Karnataka",4.1,265.0,10 days ago,https://in.indeed.com/applystart?jk=2bfabb7303...,https://www.indeed.co.in/rc/clk?jk=2bfabb73036...,"2bfabb73036c97c8,Mercedes-Benz Research and De...",721,Automation Engineer,0.114173,0.116083,0.242407,0.472662
42,ae53b42a89a73ba0,Wolters Kluwer,Senior Machine Learning Engineer Opportunity A...,Wolters Kluwer is a global leader in professio...,NaN,"Pune, Maharashtra",3.6,927.0,10 days ago,https://in.indeed.com/applystart?jk=ae53b42a89...,https://www.indeed.co.in/rc/clk?jk=ae53b42a89a...,"ae53b42a89a73ba0,Wolters Kluwer,Senior Machine...",738,Senior Machine Learning Engineer Opportunity A...,0.0389546,0.0398299,0.0635071,0.142292
43,0d223e0f20aa223a,SatSure Analytics India,Senior Machine Learning Engineer,"About SatSure SatSure is a deep tech, decisi...",NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=0d223e0f20...,https://www.indeed.co.in/rc/clk?jk=0d223e0f20a...,"0d223e0f20aa223a,SatSure Analytics India,Senio...",740,Senior Machine Learning Engineer,0.0556014,0.0567801,0.116332,0.228713
44,cfd02e7f11f0f60e,ConsultBae,SatSure Analytics - Machine Learning Engineer,Location: Bangalore Working Days: 5 Days E...,NaN,"Bengaluru, Karnataka",NaN,NaN,10 days ago,https://in.indeed.com/applystart?jk=cfd02e7f11...,https://www.indeed.co.in/rc/clk?jk=cfd02e7f11f...,"cfd02e7f11f0f60e,ConsultBae,SatSure Analytics ...",741,SatSure Analytics - Machine Learning Engineer,0.0406529,0.0415611,0.123159,0.205373
45,292982d45a49af6a,SatSure Analytics India,Machine Learning Engineer,"About SatSure SatSure is a deep tech, decisi...",NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=292982d45a...,https://www.indeed.co.in/rc/clk?jk=292982d45a4...,"292982d45a49af6a,SatSure Analytics India,Machi...",752,Machine Learning Engineer,0.0753026,0.0767856,0.163359,0.315447
46,1eb3a819c39dc74c,SKS Enterpprise,ASSOCIATE DEVOPS ENGINEER,Position Name - Associate DevOps Engineer L...,NaN,"Chennai, Tamil Nadu",NaN,NaN,11 days ago,https://in.indeed.com/applystart?jk=1eb3a819c3...,https://www.indeed.co.in/rc/clk?jk=1eb3a819c39...,"1eb3a819c39dc74c,SKS Enterpprise,ASSOCIATE DEV...",779,ASSOCIATE DEVOPS ENGINEER,0.243061,0.244736,0.121878,0.609675
47,fb0fcc2a339e1819,SKS Enterpprise,AVP-DEVOPS,Position Name- AVP-DevOps Location - Chenna...,NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=fb0fcc2a33...,https://www.indeed.co.in/rc/clk?jk=fb0fcc2a339...,"fb0fcc2a339e1819,SKS Enterpprise,AVP-DEVOPS,Po...",845,AVP-DEVOPS,0.142638,0.144714,0.0957222,0.383075
48,fa7188929e29072e,Digispoc Technology Pvt. Ltd.,Machine Learning Engineer (2-4 years),Machine Learning EngineerRole and responsibili...,"Up to ₹8,00,000 a year","Chennai, Tamil Nadu",NaN,NaN,11 days ago,NaN,https://www.indeed.co.in/company/Digispoc-Tech...,"fa7188929e29072e,Digispoc Technology Pvt. Ltd....",871,Machine Learning Engineer (2-4 years),0.00748792,0.00767415,0.114229,0.129391
49,86b7ee059bfbd90d,Axiado,Lead Machine Learning Firmware Test Engineer,Company Description Axiado is an AI-enhanced ...,NaN,"Hyderabad, Telangana",NaN,NaN,11 days ago,NaN,https://www.indeed.co.in/rc/clk?jk=86b7ee059bf...,"86b7ee059bfbd90d,Axiado,Lead Machine Learning ...",872,Lead Machine Learning Firmware Test Engineer,8.42989e-05,8.64431e-05,0.0045539,0.00472464
50,06dc76b1654530f6,BizAcuity,AI/ML Engineer,Roles and Responsibilities Experience with Dee...,NaN,India,NaN,NaN,17 days ago,https://in.indeed.com/applystart?jk=06dc76b165...,https://www.indeed.co.in/rc/clk?jk=06dc76b1654...,"06dc76b1654530f6,BizAcuity,AI/ML Engineer,Role...",917,AI/ML Engineer,0.00708097,0.0072573,0.055859,0.0701972
51,4d15f9d4352f1957,Amanzi Technologies,MACHINE LEARNING ENGINEER,Amanzi Technologies Pvt. Ltd. ...,NaN,"Noida, Uttar Pradesh",NaN,NaN,17 days ago,https://in.indeed.com/applystart?jk=4d15f9d435...,https://www.indeed.co.in/rc/clk?jk=4d15f9d4352...,"4d15f9d4352f1957,Amanzi Technologies,MACHINE L...",920,MACHINE LEARNING ENGINEER,0.228566,0.230394,0.324707,0.783667
52,292982d45a49af6a,SatSure Analytics India,Machine Learning Engineer,"About SatSure SatSure is a deep tech, decisi...",NaN,"Bengaluru, Karnataka",NaN,NaN,12 days ago,https://in.indeed.com/applystart?jk=292982d45a...,https://www.indeed.co.in/rc/clk?jk=292982d45a4...,"292982d45a49af6a,SatSure Analytics India,Machi...",1859,Machine Learning Engineer,0.0751303,0.076611,0.163359,0.3151

In [269]:
final_df.to_csv("final_df.csv",index=False)